[2012-07-31 01:57] MS3FGX opened #1 "FLEX Support?"
Recently came across this project and very happy to see somebody taking up the challenge of getting multimon modernized. Was able to start it right up on my 64bit Mint machine with PulseAudio (so already worlds better than its predecessor).

Was wondering about the possibility of adding FLEX support in the future. As far as I know, there is no Linux software for decoding FLEX, only Windows applica

[2012-10-28 04:01] Malvineous opened #2 "pa_strerror undefined when linking"
I got this error during compiling:

[code]

Adding "-lpulse" onto the final link command (the one producing the multimonNG executable) fixes the problem.  It seems linking against only pulse-simple isn't enough.  I ran 'qmake multimonNG.pro && make'.

[2012-10-29 16:47] #2 closed, assigned to nobody

[2013-05-23 10:04] aylen384 opened #10 "Use correct install prefix"
Please recognize the PREFIX variable in multimon-ng.pro like described here:
http://stackoverflow.com/a/7106823/1234176

[2013-05-23 18:25] #10 closed, assigned to nobody

[2013-06-11 08:27] aylen384 opened #13 "Make use of tags"
Please create some tags with version numbers.
This would make packaging much easier.

[2013-06-11 09:10] #13 closed, assigned to aylen384

[2013-08-31 08:41] darkstar007 opened #15 "RTTY support"
Would it be possible to add RTTY support to your great program? I mainly come across RTTY when decoding the telemetry from high latitude balloons - at various baud rates, number of bits, etc. At the moment I have to use dl-fldigi but that doesn't work how I'd like it to work, I'd much rather go via a pipe with raw data than via pulse audio.

Thanks again for maintaining this program (I see you've

[2013-08-31 13:35] darkstar007 opened #16 "SEGV trying to decode morse"
Not sure if you're wanting bugs reports yet for your recently introduced morse demod mode, but in case you are I get a seg fault when I try to decode my raw file. I get the following

[code]

If I use gdb & add a line of debug to unixinput.c:

[code]

I get the following output:

[code]

As you can see the value of 'i' jumps way out of range - so something in dem[i]->demod() is trashing memory. I'

[2013-08-31 15:56] #16 closed, assigned to nobody

[2013-12-02 18:48] SonnyJim opened #20 "MAX_VERBOSE_LEVEL is being set to 1 in multimon-ng.pro"
It appears that it's currently impossible to raise the verbosity above 1 due to this line in multimon-ng.pro:
DEFINES += MAX_VERBOSE_LEVEL=1

Not sure if it's there for a reason.

[2014-03-31 02:57] #20 closed, assigned to nobody

[2014-08-06 10:38] matbor opened #21 "square brackets"
Just wondering if this is a bug, or meant to be or something i'm missing...

Output is displaying square brackets **[  ]** as  **Ä  Ü**

`POCSAG512: Address:  571040  Function: 0  Alpha:   @@ALERT F140802273 BORO3 INCIC1 DORSET RD BORONIA /AEC ARC //LUPTON WAY M 64 K9 (492082) CBORO ÄBOROÜ`

this is how it should be (and how pdw would display's the message), note the [  ] at the end;

`POCSAG512:

[2014-12-26 19:11] michelinok opened #25 "Uninstallation....how?"
Hi!
How can i uninstall multimon-ng?
I've tryed sudo make uninstall  but i get this:

[2015-01-01 12:29] rene-pasemann opened #26 "FMSFSK"
Hello!
There is an failure at decoding - how is it possible to get an CRC correct when the value of FZG is an String of 5 digits? It have to be 4. So the message can´t be correct, even in CRC?

Maybe its possible to use the decodemodule from monitord 2.0 as an alternative module (FMSBOS)?

[2015-01-29 12:46] alrs opened #28 "Build Without Pulse"
I don't have PulseAudio on any of my systems, and I'm not familiar with qmake.  What do I need to do to disable PulseAudio support at build time?

[2015-02-08 08:35] f4t commented on #21
Hi Elias,
thanks for the great work on multimon-ng. I started using it today however I encounter the same issue mentioned above. Still any plan on adding extra encoding support ?
cheers

[2015-03-11 08:44] sv1 opened #29 "Marine GMDSS DSC Support"
Great job!!!!

Was wondering about the possibility of adding Marine Digital Selective Calling (DSC) support in the future. As far as I know, there is no Linux software for decoding DSC, only Windows applications.

[2015-03-15 22:36] Murf commented on #21
Hi Guys, I just do a string replace in my processing script

[2015-03-15 22:38] Murf opened #30 "Strange message format"
Hi,
I see quite a few messages of this format:
POCSAG512: Address:    3200  Function: 0  Alpha:   )&)E51ASNPPEB8491098000100008000&Q0200&Q0201&Q0202&Q0203&Q0204&Q0205&Q0206&Q0207&Q0208&Q0209&Q02
0:&Q020;&Q020<&Q020=&Q020>&Q020?&Q0210&Q0211&Q0212&Q0213&Q0214&P16000019?::8103000000001&P160100088;=8103000000001&P160200088;80103000000001&P160300088;?0103
000000001&P160400088<50103000000001&&36<NUL><NU

[2015-03-15 22:39] Murf commented on #30
P.S. it is always to address 3200

[2015-03-16 00:06] matbor commented on #21
Same here.

On Mon, Mar 16, 2015 at 9:36 AM, Brett Murphy <notifications@github.com>
wrote:

[2015-03-16 03:45] Murf commented on #30
P.P.S: Thought... OTA reset or update?

[2015-03-16 10:36] EliasOenal commented on #30
Interesting, it definitively looks like some form of encoded data. Searching Google for some of those substrings I get similarly encoded data on Japanese sites. For example:

http://un-no-un.net/SEA/setX/Q17R.txt

[2015-03-16 10:38] #25 closed

[2015-03-16 12:13] EliasOenal commented on #26
Could you please attach a sample to test against? The FMSFSK decoder was contributed and I didn't have the opportunity to test it so far. I probably won't find the time to fix the problem, but having an example to reproduce the issue could help those who are interested in working on it.

[2015-03-16 12:15] EliasOenal commented on #28
There isn't a proper way to configure building it without pulse audio, yet you can simply comment the line "DEFINES += PULSE_AUDIO" for your platform in the qmake-file. (multimon-ng.pro)

[2015-03-16 22:30] Murf commented on #30
The more I look at it the more I am convinced it is an over the air reset requested by pager end users

[2015-04-05 03:27] kb9mwr opened #31 "Garmin Rino Support?"
First, thanks for updating my favorite decoding tool.  Especially the EAS addition.

I hope you'll consider trying to figure out the Rino format, it's typically for position reporting, here is probably the best break down I have read:
http://www.radio-active.net.au/web3/APRS/Resources/RINO

And again, Thanks!

[2015-05-13 22:08] craigshelley commented on #1
Hello,
Back in 2011, I hacked together a FLEX demod for multimon. If I remember, I took some code from gnuradio, but had to write the symbol synchronization and quantization code. I've just rediscovered the code while playing with gnuradio, and thought it ought to be made public. I recall spending a lot of time making it robust to cope with noisy/weak signals etc..
I was just wondering if the proj

[2015-05-15 11:04] EliasOenal commented on #1
I am pretty sure people would appreciate it, since I still get mails once in a while asking me about FLEX support. And while I personally don't have time to play with SDR anymore, I surely still accept pull requests.

[2015-05-15 11:28] craigshelley commented on #1
Ok,  I'll try to tidy up the code a bit. I've not had chance to try
multimon-ng yet, I'm hoping it should port across without much
modification.

Regards,
Craig
On 15 May 2015 12:04, "Elias Önal" <notifications@github.com> wrote:

[2015-05-15 11:54] jester-xbmc commented on #1
Thanks, it will be a most welcome addition.

[2015-05-20 16:38] boetersep commented on #1
https://github.com/boetersep/multimon-ng

[2015-05-25 13:34] craigshelley commented on #1
Flex support added, although not tested with all signal formats.
https://github.com/craigshelley/multimon-ng

[2015-06-05 18:24] digitalsi commented on #26
Hi, here is a decoded sample:
FMS: 7172822a0000 (6=Feuerwehr     	c=Saarland        	Ort 0xe5=229	FZG 10228	Status 2=Bereit Wache  	0=FZG->LST	2=III(mit NA,ohneSIGNAL)	) CRC INCORRECT
FMS: 9e404a930000 (0=UNKNOWN       	4=Berlin          	Ort 0xfe=254	FZG 39104	Status 0=Notfall       	0=FZG->LST	0=I  (ohneNA,ohneSIGNAL)	) CRC INCORRECT
FMS: 0b53e3570000 (6=Feuerwehr     	4=Berlin          	Ort 0xa

[2015-06-09 04:31] SEKCobra opened #32 "Windows Parameters"
Hey, after people recommended I try this cause PDW isn't decoding a fairly strong signal, I am now unable to figure out how to set the input to a certain audio device. The -? information is quite lacking and I couldn't find anymore documentation sadly.

[2015-06-15 08:10] EliasOenal commented on #1
If you think it's ready, please send me a pull request. Also I think it would be good to have a small sample, if you can provide any.

[2015-06-26 16:19] lnora opened #34 "BIIS 1200 and FFSK (MSK) decoding support?"
How about implementing FFSK (*Fast Frequency Shift Keying*) (also called MSK) demodulator and decoding of BIIS 1200 SDT?

#### Some resources

[An audio sample of BIIS 1200](http://www.tarapippo.net/biis1200/audio.wav)
[sigidwiki.com entry](http://www.sigidwiki.com/wiki/Binary_Interchange_of_Information_and_Signaling_(BIIS))
[A Perl script to decode BIIS 1200 messages demodulated](http://www.tarap

[2015-06-26 20:15] chris021 commented on #1
Hi Craig, I have tried your fork with flex1600 with out any luck. Would it be possible for me to send you an audio sample?

[2015-06-26 22:16] craigshelley commented on #1
Yes,  sure please do. I'd like to get it working on all of the flex
formats.
On 26 Jun 2015 21:15, "chris021" <notifications@github.com> wrote:

[2015-06-27 05:20] chris021 commented on #1
Here are 2 samples. Both contain a mix of POCSAG and FLEX

https://onedrive.live.com/redir?resid=CE93060699F49335%21147

________________________________
From: Craig Shelley <notifications@github.com>
Sent: Saturday, 27 June 2015 10:16 a.m.
To: EliasOenal/multimon-ng
Cc: chris021
Subject: Re: [multimon-ng] FLEX Support? (#1)

Yes, sure please do. I'd like to get it working on all of the flex
forma

[2015-06-27 09:01] craigshelley commented on #1
Hi Chris,

Both files appear to decode ok using the following commands:
$ multimon-ng -a FLEX -t raw paging01.raw
$ multimon-ng -a FLEX -t raw paging02.raw

The output looks like this:
FLEX: 2015-06-27 07:49:08 1600/2/A 00.096 [001234567] ALN THIS IS A TEST
PERIODIC PAGE SEQUENTIAL NUMBER  8251

The other FLEX messages appear to be emergency services pagers, which
I'm a little reluctant to post th

[2015-06-27 09:07] chris021 commented on #1
How Odd....

this is what i get:

root@raspberrypi:~# multimon-ng -a FLEX -t raw paging01.raw

multimon-ng  (C) 1996/1997 by Tom Sailer HB9JNX/AE4WA

             (C) 2012-2014 by Elias Oenal

available demodulators: POCSAG512 POCSAG1200 POCSAG2400 FLEX EAS UFSK1200 CLIPFSK FMSFSK AFSK1200 AFSK2400 AFSK2400_2 AFSK2400_3 HAPN4800 FSK9600 DTMF ZVEI1 ZVEI2 ZVEI3 DZVEI PZVEI EEA EIA CCIR MORSE_CW DUMP

[2015-06-27 09:14] chris021 commented on #1
i removed the src directory and ran the following commands to remake:

cd ~/src/
git clone https://github.com/craigshelley/multimon-ng.git
cd multimon-ng/
mkdir build
cd build
qmake ../multimon-ng.pro
make
make install

After this the result is the same POCSAG decodes fine, but no FLEX. Any idea what i am missing?

[2015-06-27 09:43] craigshelley commented on #1
I am going to try building and running this on a raspberry pi. I suspect there is an endianness or 32/64 bit related bug somewhere. I'll keep you posted with what I find.

[2015-06-27 10:49] craigshelley commented on #1
The wrong data type had been used for some the 64 bit integers, hence it not working on 32bit architectures.
Fix committed https://github.com/craigshelley/multimon-ng/commit/65e4a212feae74c2bce0f65488a5cabf999788a9

[2015-06-27 22:15] chris021 commented on #1
Tested and working!!! Thanks heaps for this :) :)

I have noticed that all messages are decoded starting with 'ALN' which isn't in the transmission. What does this stand for?

[2015-07-15 12:58] meshage commented on #1
Many thanks to Elias and Craig for your work on multimon.

I've identified one small issue with the FLEX decoder:

It lets new lines in the page text through as is which means it's impossible to tell where pages containing new lines end.

I've changed

  if (ch != 0x03)
    verbprintf(0, "%c", ch);

with

  if (ch != 0x03) {       // Fill
    if (ch == 0x0a) verbprintf(0, "%s", "<LF>"); // replace

[2015-07-15 12:59] meshage commented on #1
feh ... markup stole the replacement text, try this or add something you like instead: &ltlLF&gt;

[2015-07-16 18:12] meshage commented on #1
Embedded NULs cause trouble for downstream apps too so it may be worth considering using the translation code from the POCSAG decoder.

[2015-08-13 14:09] mmiller7 opened #35 "Server priority?"

[2015-08-13 14:18] #35 closed

[2015-09-19 04:53] seanchann opened #36 "etsi-fsk dtas detect"
please , is there support DT-AS single detect with fsk?

[2015-11-09 13:09] EliasOenal commented on #1
I've merged the pull request and will now close the issue. Though feel free to open new issues regarding problems using the FLEX decoder.

[2015-11-09 13:09] #1 closed

[2015-11-09 13:18] craigshelley commented on #1
Sorry,  it's been some time since I've been working on this,  but I
remember there being a bug fix for 32 bit architectures. if I remember,  I
applied it shortly after I sent my initial pull request. You might want to
check out my branch to confirm that you have this fix.
--
Craig
On 9 Nov 2015 13:09, "Elias Önal" <notifications@github.com> wrote:

[2015-11-09 13:19] EliasOenal commented on #32
So far multimon-ng doesn't support manually selecting audio devices, it always uses the one set as default. Though some people also have reported success using "virtual audio cables".

[2015-11-09 13:31] EliasOenal commented on #1
I think it was actually part of your pull request:

[2015-12-09 06:27] afxmedia opened #38 "Not showing anything"
Hi, I just installed multimon-ng on my mac and it doesn't seem to be working. I'm wondering if I've set up anything wrong?

I've run Win7 in VM with SDR# + PDW with a known pager frequency, it was working pretty well and I think it’s FLEX(since it's showing FLEX all the time in the PDW window), but I’m looking for a native mac solution.
so I downloaded & set up sox, gqrx with macports and compiled

[2015-12-09 07:08] f4t commented on #38
why not using rtl_fm directly rather than gqrx over netcat ?

[2015-12-09 12:34] griffinbai commented on #38
You don't need Gqrx .

change the freq and output port below you need . I used to pipe em to Xastir .

rtl_fm -p 18 -f 144940000 -s 22050 - -|multimon-ng -a AFSK1200 -A -t raw - | sed -u -r 's/^.{6}//' | socat STDIN TCP-LISTEN:14580,reuseaddr,fork

[2015-12-09 15:29] afxmedia commented on #38
@f4t tried rtl_fm, doesn't work either. Also because I would also like to use my HackRF

@griffinbai tried your suggestion switching to, but still no go.

I verified the signal again by piping the sound card output directly using GQRX to the input in Win7 PDW using a physical cable, it decoded just fine. any other suggestions? thanks

[2015-12-09 16:18] afxmedia commented on #38
can someone post a osx binary that supports FLEX? last thing i would like to try before giving up is to see if there was something wrong with my build. thanks

[2015-12-09 16:35] griffinbai commented on #38
@afxmedia
I don't have HackRF board :octocat:
BinaryRF is gone I think ,  but I dig some info it might help .
https://goo.gl/rtY860

[2015-12-09 19:07] craigshelley commented on #38
It's been a while since I've looked into this,  but I vaguely recall having
a problem with signal polarity and amplitude when I piped from gqrx. I
remember having to apply a negative gain. Use the SCOPE to check the signal
level visually.
--
Craig
On 9 Dec 2015 16:35, "griffinbai" <notifications@github.com> wrote:

[2015-12-10 07:29] EliasOenal commented on #38
Could you try the samples from the FLEX ticket?
https://github.com/EliasOenal/multimon-ng/issues/1

[2015-12-10 14:58] afxmedia commented on #38
@EliasOenal Thanks, tried that and they decoded just fine. Here is a screenshot from PDW when it's doing the decoding, not sure if it's going to help identifying the issue.
![screen shot 2015-12-10 at 9 55 00 am](https://cloud.githubusercontent.com/assets/16061584/11718558/8ce4a264-9f24-11e5-9a5d-9657d4e0cd00.png)

[2015-12-10 16:25] afxmedia commented on #38
So I just googled it. The test file from #1 was in 1600/2 mode and it multimon-ng decoded nicely. The one I'm running into trouble from is FLEX 6400/4. Is it not supported?

[2015-12-10 19:11] craigshelley commented on #38
Not sure if I've tested 6400. I know it can do /4. The code may require
some tweaking to add 6400 support.
On 10 Dec 2015 16:25, "afxmedia" <notifications@github.com> wrote:

[2015-12-17 17:44] dl5raz opened #39 "Problem: decoding APRS"
I have a problem:
(Stick is E4000 and kal worked ok)

rtl_fm -f 144800000 -s 22050 -p 18 -g 42.0 - | multimon-ng -a AFSK1200 -A -t raw -

does not produce any output
but same USB stick works good with
rtl_tcp -a local IP
and
SDR# on 144.800 Mhz

what could be wrong?

[2015-12-19 17:29] dl5raz commented on #39
i found that error correction lead me astray
rtl_fm -f 144800000 -s 22050 -p 0 -g 42.0 - | multimon-ng -a AFSK1200 -A -t raw -
works !

[2015-12-19 17:29] #39 closed

[2015-12-28 04:00] greedy9 opened #40 "FLEX decoding...almost - always loses synch"
Trying to decode pager transmissions, using rtl_fm and multimon-ng on a Raspberry Pi.  This is what I've assembled from various sources, and it almost works...

rtl_fm -A fast -f 929.620M -M fm -E dc -s 22050  -F 0 | multimon-ng -n -p -t raw -a POCSAG512 -a POCSAG1200 -a POCSAG2400 -a FLEX -i -p -v 3 -f alpha  /dev/stdin

I see messages from the FLEX decoder, mostly these:

FLEX: Synchronisation L

[2016-01-01 19:36] craigshelley commented on #40
On Sun, 2015-12-27 at 20:00 -0800, greedy9 wrote:

Hi Greedy9,

Please could you post or provide a link to an audio sample. I can't
guarantee that I'll be able to look into it, but at least I'll be able
to recreate the problem you are observing.

Regards,
Craig

[2016-01-02 03:39] greedy9 commented on #40
Hi Craig:

Great.  I'll be glad for any help or advice.

Wav file is attached.  The squelch was open, so there is receiver noise between the (short) data bursts.

It was captured with this command:

rtl_fm -d 1 -A fast -f 929.620M -M fm -E dc -s 22050 -g 50 -F 0 | sox -t raw -e signed -c 1 -b 16 -r 22050 - flex2.wav

Had to zip the file to satisfy the
[flex2.wav.zip](https://github.com/EliasOenal/

[2016-01-22 14:33] Caveman192 opened #41 "Flex Group messge decoding"
I've got multimon working almost perfectly. Only when decoding a FLEX group message, the actual message contents is missing the last 2 or 3 characters.

I use a discriminator tap wich is split into 2 (seperatly amplified) outputs with level control.
The first goes into a Windows machine running PDW, the second to a Linux Ubuntu 14.04 running Multimon.

These are the logs from both MultiMon and PDW

[2016-02-10 16:28] ara-ler commented on #28
In my FreeBSD box only OSS is available. I've compiled multimon-ng without pulse audio, however, I'd like to be able monitoring the sound card input. Would you please give any directions? I'm not afraid making changes to the source code.

[2016-02-14 11:55] cpbridges opened #42 "No SCOPE option & 'execlp' dir?"
Just downloaded and built from multimon-ng-1.1.0.zip on Macbook Air / El Capitan.
1. I cannot find the SCOPE option.
2. On startup of the example, I get:

[code]

My qmake is:

[code]

Any pointers to these two issues?

[2016-02-21 13:00] joper112 commented on #41
I have the same problems anyone a fix?

[2016-02-28 21:29] sm4xas opened #43 "Problem building on both Debian 8.3 "Jessie" and Raspbian "Jessie""
Hello!
I am setting up a MFSK1200 (APRS) reciever using multimon-ng, but I have  a problem. I have installed the "lite" version as I don't need the graphical part.

I can make it work with a RTL-SDR USB stick (with only multimon), but I need to be able to process audio from the mic input, and as I understand it, I then need multimon-ng

These are the steps I am trying:
mkdir ~/src
cd ~/src
git clo

[2016-02-29 09:42] cpbridges commented on #43
You’ll need qmake for sure. If you want to keep it slim, apt-get install it, use it, then apt-get remove it.

Best, Chris

From: sm4xas [mailto:notifications@github.com]
Sent: 28 February 2016 21:30
To: EliasOenal/multimon-ng
Subject: [multimon-ng] Problem building on both Debian 8.3 "Jessie" and Raspbian "Jessie" (#43)

Hello!
I am setting up a MFSK1200 (APRS) reciever using multimon-ng, but I ha

[2016-02-29 09:54] EliasOenal commented on #43
It looks to me like qmake is already installed and complains about the lack of a Qt installation. I never intended Qt to be a build requirement and I am sure building with just qmake and without Qt used to work on Debian in the past.

[2016-02-29 09:56] cpbridges commented on #43
Only last week, I used Ubuntu MATE on RPi-2 and didn’t have this problem to build mm-ng. Qt4 may be required but I can’t remember. I doubt Debian is that much different but personally I stick to Ubuntu.

Again, apt-get install/remove will solve this quickly for you ☺ Best, Chris

From: Elias Önal [mailto:notifications@github.com]
Sent: 29 February 2016 09:54
To: EliasOenal/multimon-ng
Cc: Bridges

[2016-02-29 11:52] sm4xas commented on #43
I had to install QT as you said, and afterwards it seemed to work.
Thank you!

[2016-02-29 11:59] EliasOenal commented on #43
Please post the output of "which qmake" and "ls -la $(which qmake)".
I think it might be a link to qtchooser, in which case you simple have to call the actual qmake binary.

[2016-02-29 12:52] sm4xas commented on #43
which qmake: /usr/bin/qmake
ls -la $(which qmake) : lrwxrwxrwx 1 root root 9 Sep 25  2014 /usr/bin/qmake -> qtchooser

How do I do that? (Still quite the beginner in linux)

[2016-02-29 13:57] EliasOenal commented on #43
This did the job on the latest Debian for me:
[code]
You can adjust "grep qt5" to "grep qt4" if you've installed the qt4 version of qmake. Once you've called the alias line qmake should work as expected. I guess it's a bug in Debian, you might want to report it.

[2016-03-03 12:21] EliasOenal commented on #41
Please provide a sample showing the issue.

[2016-03-03 18:26] joper112 commented on #41
FLEX: 2016-03-03 18:24:39 1600/2/A 06.022 [001420999] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2016-03-03 18:24:39 1600/2/A 06.022 [001420059] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2016-03-03 18:22:34 1600/2/A 05.083 [000120998] UNK 00000000 00000000 00000000 00000000 00000000 0

[2016-03-03 18:28] EliasOenal commented on #41
I meant a sample of the signal prior decoding. A capture of the audio.

[2016-03-03 18:30] joper112 commented on #41
which command i need to use for a sample?

[2016-03-03 18:44] joper112 commented on #41
I uses a lot of commands but i dont get a .wav file. can you help me?

[2016-04-05 06:45] mvdswaluw commented on #41
Try this... https://github.com/EliasOenal/multimon-ng/compare/master...mvdswaluw:patch-1

[2016-04-10 05:56] bboxy opened #44 "FMSFSK not in sync/missing messages?"
I actually want to decode FMS and wondered why i only receive the ack from the control center, not the status send from the vehicle to the control center. I then tracked down things and started to record the received data. It turned out that when i cut out one handshake without much noise in the beginning, that multimon-ng would suddenly decode teh two messages, as soon as there is however some pr

[2016-04-14 10:10] bboxy commented on #26
The field for FZG has 4 digits in hexadezimal that range from 0-f or 0-15 (not sure if digits > 9 are used though), thus numbers with more than 4 digits can happen. Also, it is not necessary, that a correct checksum guarantees a correct FMS. I would only trust that correct checksum if also the other data looks plausible, like the status is from your station/region and so on. When decoding random n

[2016-04-14 10:12] bboxy commented on #26
@rene-pasemann
The module in monitord is pretty much doing the same as in multimon, it uses the same algorithm and code, i just compared that a few days ago.

[2016-05-23 18:18] joper112 commented on #41
I still get the unk 000000

[2016-05-30 01:11] nzradar opened #45 "ICAO SELCAL Decoder"
Hello, Geetings from hfaero.com (Michael here in New Zealand).  Is there any plans for you excellent programme to decode the ICAO SELCAL tones.  I am searching everywhere for a Linux based decoder and so far my MultiPISK under Wine doesn't do a very good job with PulseAudio streams and AirNav SELCAL Decoder doesn't even find an audio source!

Thanks, and keep up the good work Elias!

[2016-05-30 14:42] unwichtig opened #46 "Timestamp"
It would be great to have a timestamp in every line which is encoded.
I needed 2 days of playing till i got Messages, but now it works very fine with Pocsag512 and Pocsag1200.

[2016-06-16 20:14] joper112 commented on #41
Can you stil help me. When you need à sample i need thee Command. I dont know how to get à sample

[2016-06-19 01:21] j-dickinson commented on #40
I'm having almost exactly the same issue, although my raw data is coming via UDP packets from `gqrx` through `nc` and `sox`, like this:

[code]

Here's some sample output:

[code]

This setup *does* work for some FLEX channels, but not others. When I dug into it, I noticed that the failing ones were sending at 3200 baud 4 levels positive polarity, while the working ones were sending at 1600 baud 4

[2016-06-20 05:08] j-dickinson commented on #40
Ok, I think I found the problem. At the end of SYNC1, in `decode_mode`, the decoder finds out that the baud rate of the pager packet is going to be 3200 and immediately sets `flex->Sync.baud` to 3200. This causes it to start decoding all subsequent symbols at 3200 baud. However, this is not correct - the FIW is sent at 1600 baud, so we should continue to decode at 1600 baud until the FIW is done.

[2016-06-21 15:23] j-dickinson commented on #40
There were actually a few places where the code was not correct for 3200 baud. Looking back at the original pull request for the decoder, #33, this makes sense:

I think I've fixed them all in my local checkout, but I'd like to test it some more before committing. I'll then create a pull request.

[2016-06-22 15:19] j-dickinson commented on #40
Note that despite fixing FLEX decoding for me, the fix in #47 only decodes one of the two FLEX messages in @greedy9's sample above:

[code]

The inability to decode the first message might be a remaining bug in the code, or it might be due to noise in the sample.

[2016-07-04 08:42] #40 closed

[2016-07-13 05:32] zachsis opened #48 "make fails Linux Mint 17.3"
[code]

[2016-07-13 07:01] EliasOenal commented on #48
It looks like you were in the middle of some merge. Can you download this zip and try to build it? https://github.com/EliasOenal/multimon-ng/archive/master.zip

[2016-07-14 08:22] peterg10 opened #49 "Fails to build on OS X El Capitan (library not found for -lpulse-simple)"
I installed `pulseaudio` from mac ports. Created a `build` directory and used `cmake` (couldn't find qmake) but I get this error:

`[100%] Linking C executable multimon-ng
ld: library not found for -lpulse-simple
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [multimon-ng] Error 1
make[1]: *** [CMakeFiles/multimon-ng.dir/all] Error 2
make: *** [all] Er

[2016-07-14 15:37] peterg10 commented on #49
I found the libraries in `/opt/local/lib/` but they're not referenced in `multimon-ng.pro` which _I think_ is the file `cmake` uses. I added `-L/opt/local/lib` to the `LIB=` line, and uncommented it - still no joy. And there my coding skills run out. I'll look it again later.

[2016-07-19 11:34] EliasOenal commented on #49
I don't know about cmake, it's currently unmaintained. Also if you use qmake multimon-ng will build without audio support on OSX. You can get qmake by installing "qt5-mac" from macports.

[2016-07-20 11:56] petergspire commented on #49
[code]

Installed the `qt5`port, still no qmake. I've updated ports to the latest.

[2016-07-20 12:18] EliasOenal commented on #49
Please try: `find /opt -name "qmake*"`

[2016-07-20 12:35] petergspire commented on #49
Thanks! found it `/opt/local/libexec/qt5/bin/qmake` built and installed successfully now.

[2016-09-16 14:21] andrew867 opened #51 "Multimon-ng outputting samples to stdout"
I have a slight problem and I can't figure it out. For some reason multimon-ng is outputting the input samples in plain text to stdout. How can I turn this off?

Example output:

[code]

[2016-09-16 14:25] andrew867 commented on #51
Just figured it out! By default when running with no command line options it enables all demodulators. I needed to run as `mulitmon-ng -s dumpcsv`.

[2016-09-16 14:25] #51 closed

[2016-09-20 11:58] Shaggs opened #52 "FLEX fragmented messages"
First things first thanks for making a program that can decode FLEX so i can decode using a raspberry pi.

one slight problem is fragmented messages are not handled.

when a message   is sent using FLEX and gets broken up along the way the bitrate changes from 1600 to 1601 if fragmented once and goes up depending on fragmented amount.

in PDW this bitrate change is picked up.

below is output from

[2016-09-23 12:37] Shaggs commented on #41
Use a sound recorder to record your output. On windows use the stanard sound recorder. On linux I have no idea what to use so google it.

[2016-09-28 12:01] linuxpronl opened #53 "Missing capcodes in flex"
When decoding FLEX I'm missing the CAPCODES...

[2016-09-29 21:14] cpbridges opened #54 "MORSE_CW Output?"
Hi!

I'm using the following to bring in 48kHz raw data via a fifo from gnuradio but I only see numbers. Any ideas of what I'm doing wrong? The dah is 150 ms, and dits are 50 ms.

19854.376953,21298
19854.421875,17237
19854.468750,13287
19854.513672,9331
19854.558594,5545
19854.603516,1857
19854.648438,-1603
19854.695312,-4875
19854.740234,-7866
19854.785156,-10597
19854.830078,-13007
19854.875000

[2016-10-22 16:58] #49 closed

[2016-10-22 16:58] #48 closed

[2016-10-22 19:47] flothi opened #55 "ZVEI: Siren-tone"
As the German TR-BOS specify a special siren-tone which I could not find in the sources: Is there a way to decode a ZVEI-tone for sirens? (e.g. http://www.pfa.nrw.de/PTI_Internet/pti-intern.dhpol.local/Funk/Regelungen/Geraete-Funkalarmierung/Analoge_Funkalarmierung.pdf)

[2016-10-30 12:57] GaryWSmith commented on #43
I have the same problem as the OP on a headless installation of Raspbian (Bananian actually).
The only success above looks like it involved a full QT installation - not just the qmake package. :-(
That is, the solution posted by Elias does not work either.
What are the steps involved to compile with cmake ??

[2016-10-30 13:54] GaryWSmith opened #56 "Integrate the cubehub fork?"
This is not really an "issue" but hopefully it helps ...

In following a thread on how to deal with doppler on satellite data I ended up at https://libraries.io/github/cubehub/multimon-ng which explains as follows:

"Currently this fork only exists because it seems that multimon-ng is quite picky about fsk9600 symbol rate. There is slight error in demod if input stream is converted to 22050 sps ou

[2016-10-30 14:04] EliasOenal commented on #56
I'd surely be willing to merge this, yet I think 48k should be optional. A lot of people use multimon-ng on small devices like the raspberry pi and this change doubles the processing required. Feel free to open a pull-request.

[2016-10-30 14:06] #32 closed

[2016-10-30 14:17] EliasOenal commented on #43
CMake is not supported (by me at least) and I think it has been broken for a while. I'll look into the Debian/Ubuntu qmake issues once I find the time, but strictly speaking this isn't a multimon-ng issue. Those distributions just seem to have broken qmake.

[2017-01-01 22:16] flothi opened #57 "FMS: Error in Location"
It seems that there is an error in FMS-decoding:
A location which should be set to 90 is given as 0x09.

Somewhere about in FMS.c, l. 261
 loc_id = (message >> 24) & 0xFF;

The two bits should be flipped in my opinion...

[2017-01-16 13:12] flothi commented on #57
Fixed with #58

[2017-02-06 17:35] EliasOenal commented on #57
Merged.

[2017-02-06 17:35] #57 closed

[2017-02-15 03:16] pvachon commented on #52
After spending some quality time debugging this issue in the FLEX decoder for my own project, I actually think it's traceable to three things

 * Aggressive fragmentation by the pager operator (FWIW, I'm not sure if PDW handles fragmentation automatically or not),
 * Quirky behavior in demod_flex.c to handle sampling the signal (since 22050 Hz is not an even multiple of 1600, some acrobatics need

[2017-02-17 14:59] rgrokett commented on #42
You might be missing SOX.  I got the same error on my Raspi with the example x10rf.wav
$ sudo apt-get install sox

[2017-02-20 16:38] EliasOenal commented on #42
This indeed could relate to SoX.

The scope on the other hand is disabled in the qmake file. Check multimon-ng.pro to enable it. (Requires an X server, which isn't available by default on OSX anymore)

[2017-02-21 10:57] joper112 commented on #53
ik ook UNK 00000000000000000000000000

[2017-03-19 18:15] muratcorlu commented on #41
I have same problem. I get lots of UNK rows. I don't have any windows machines. How can I solve that problem?

[2017-03-20 05:46] EliasOenal commented on #54
I think your issue is the "-" after raw. Try the sample on Wikipedia:
`multimon-ng -m -a MORSE_CW -t ogg Wikipedia-Morse.ogg`

[2017-03-20 08:42] o commented on #41
+1 same here

Decoding FLEX GROUP messages prints lines starting with UNK's. ALPHA (one line) messages works fine.

[2017-03-21 10:14] joper112 commented on #41
Is there a solution for the group messages? Im using it for my demotica system when my pager code comes my lights going on but i dont get the group messages so it doesnt work....

[2017-03-22 08:06] EliasOenal commented on #41
I think it has been established that it's currently broken. I personally never used the FLEX decoder and it was contributed to multimon-ng by Craig Shelley. For it to get fixed someone has to step up and implement it. After all this is an open-source project with quite a volatile community, people just chime in and out as they please.

[2017-03-22 10:26] muratcorlu commented on #41
Thanks for your information @EliasOenal

@craigshelley do you have any suggestion? If not, I'll try to learn debugging C :)

[2017-03-22 23:17] craigshelley commented on #41
Hi,
It's been a while since I last looked at this code but if I recall, UNK is
displayed as a fallback if the message type is unknown, or hasn't been
implemented in the code. The raw message data is then printed without
decoding. It shouldn't be that difficult to add another message type. I'd
need to familiarise myself with group messages, as they weren't very common
in the signals that I was usin

[2017-05-02 15:37] samu99 opened #61 "file pulse in simple.h mancante"
manca tutta la libreria di pulse audio nel file simple.h

[2017-05-02 15:51] EliasOenal commented on #61
English please!

[2017-05-02 20:31] flothi commented on #26
If it's still interesting this might be caused by the use of hexadecimal vehicle-id.
I proposed a PR to fix it: #62

[2017-05-29 02:15] Zanoroy opened #63 "Found a problem in the Decode function"
I have converted your code to C# to use with SDRShape.

I found a problem in your code that results in sections of messages being missed and a false report of 'Invalid Offset'.

In the 'demod_flex.c' you have:
`

		int mw2 = mw1+len;
                ...
		if (mw1 > 87 || mw2 > 87){
			verbprintf(3, "FLEX: Invalid Offsets\n");
			continue;				// Invalid offsets
		}

		if (is_alphanumeric_page(flex)

[2017-05-29 10:16] joper112 commented on #63
I changed it but FLEX: 2017-05-29 10:14:59 1600/2/A 03.105 [001220499] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000

[2017-05-29 10:20] joper112 commented on #41
Does someone a update?

[2017-05-30 06:11] jklnz commented on #63
Yeah I did the change as well and none of the fragmented/split messages came through

[2017-05-30 07:20] Zanoroy commented on #63
Really, I made the change I mentioned in my post and since I have been receiving my multi-part messages correctly.  I am receiving FLEX1600 2FSK messages off-air.

I can post a couple of WAV files of the recorded audio if that would help you?

[2017-05-30 07:30] Zanoroy commented on #63
You did change BOTH locations right?

int mw2 = mw1+len - 1

and

parse_alphanumeric(flex, phaseptr, PhaseNo, mw1, mw2, j);

[2017-05-30 07:50] jklnz commented on #63
Yeah I did both of the changes in demod_flex.c

[2017-05-30 08:03] jklnz commented on #63
Just recompiled it and re-tested on the pager network, and it still misses them

[2017-05-30 08:08] Zanoroy commented on #63
That's interesting,
    Do you have any recorded audio I could test with? I'd be interested in seeing why its failing for you.
What is the flex network you are testing with? 1600, 3200 or 6400? and which 'type' of message are you expecting (Alpha, Numeric, tone or unknown) ? I noticed in the original code the Numeric,tone and unknown function calls didn't adjust the incorrect mw2 value, so may tho

[2017-05-30 08:11] jklnz commented on #63
Yeah I will try and get a recording from SDR Sharp. The network is Spark's paging network in New Zealand. The messages are FLEX 1600 text messages (usually fire service dispatches).

[2017-05-30 08:12] jklnz commented on #63
Just confirming - does it make a difference that I am using Windows not Linux??

[2017-05-30 08:15] joper112 commented on #63
I am using linux and also flex 1600 messages (also fire service only the dutch one) freq 169.650	P2000	FLEX	Baudrate 1600	Modulation 2FSK. Some messages are ok but the group messages are  unk 0000000000

[2017-05-30 08:23] Zanoroy commented on #63
Oh, your on that Infostream network..

If you could get me a few minutes of RAW Audio or IQ data I can reprocess it with my test bed.

The network I have access to does use Group Messages so I cannot test it with some raw data sorry.

I have the ability to walk through the code Symbol by Symbol so its easy to trace issues.

[2017-05-30 08:24] jklnz commented on #63
Yeah it decodes most of the messages perfectly except for the multipart ones which will not decode at all... Not sure if it is something with our network here or the software.

I have recorded a few minutes off the pager network with some messages that decoded fine in PDW but not in multimon-ng. Let me know if that helps or you need any more info

[SDRSharp_20170530_081552Z_157950006Hz_AF.zip](htt

[2017-05-30 08:29] jklnz commented on #63
What's the infostream network?

[2017-05-30 08:41] Zanoroy commented on #63
Do you have your log information from that raw data please.

[2017-05-30 08:42] joper112 commented on #63
@Zanoroy Can you give me the command zo i can get a few minutes of data for you?

[2017-05-30 08:42] jklnz commented on #63
Do you mean the decoded messages?

[2017-05-30 08:45] Zanoroy commented on #63
Sorry, could you run it through your decoder with the verbose set to 3 and shoot me the logs (I don't my Linux VM running at home).

[2017-05-30 08:47] Zanoroy commented on #63
@joper112, what are you using as to control your receiver? GQRX? if so you can use the record button on the bottom right of the GQRX gui.

[2017-05-30 08:56] joper112 commented on #63
@Zanoroy  no iam using rtl_fm i have a .bin on dropbox when you want a other file i need to install gqrx this evening https://www.dropbox.com/s/dxg0rg2qhakmtb5/demodulated.bin.bz2?dl=0

[2017-05-30 08:59] Zanoroy commented on #63
That's ok, rtl_fm records raw IQ data I can use that (with a little extra
playing around)

Cheers..

On Tue, 30 May 2017, 18:26 joper112, <notifications@github.com> wrote:

[2017-05-30 09:39] jklnz commented on #63
I have uploaded a second file to onedrive: https://1drv.ms/u/s!AroehrZ8a8wxa3Hzw4vAnlRPDCQ
This time i included a .log of the multimon-ng -v 3

The file was too big for github apparently!

[2017-05-30 09:40] jklnz commented on #63
This is the relevant info from the log:
FLEX: Locked
FLEX: SyncInfoWord: sync_code=0x870c baud=1600 levels=2 polarity=POS zero=-0.125367 envelope=0.854760 symrate=1601.641791
FLEX: State: FIW
FLEX: FrameInfoWord: cycleno=08 frameno=024 fix3=0x3c time=32:45
FLEX: State: SYNC2
FLEX: State: DATA
FLEX: BlockInfoWord: (Phase A) BIW:00000C03 AW:01-03 (2 pages)
FLEX: CAPCODE:00000000000f39ba
FLEX: Parse

[2017-05-30 09:44] Zanoroy commented on #63
Excellent, thanks

On Tue, 30 May 2017, 19:10 jklnz, <notifications@github.com> wrote:

[2017-05-30 09:58] Zanoroy commented on #63
Sorry guys, I have to call it a night. I'll have some time in the morning tomorrow to work on this and I'll give you an update.  One thing I found was if you open the audio file in Autacity and re-export it, the system gets a few more symbols - I had the same trouble with my system when the CPU was busy and the raw data from the USB radio was not getting cleanly demodulated. But let me work on it

[2017-05-30 21:16] jklnz commented on #63
All good, I left multimon-ng running side by side with PDW over night and it did pick up a couple of multipart messages but very few, maybe 1 out of 20.

[2017-05-31 00:38] Zanoroy commented on #63
Did you capture any raw data between the two? Also are you using the same radio for both decoders?

[2017-05-31 00:43] Zanoroy commented on #63
I can decode 90% of the data you supplied in your second file, but the last section has signals that don't last the minimum amount of time to be considered a symbol, it would be good to see what PWD think it can decipher in the same phase. Looking at the PWD code it takes a shorter amount of samples to be considered a valid symbol.

Multimon-ng seems to measure the sample length to be (for 1600bps

[2017-05-31 00:53] jklnz commented on #63
Nah I did not get any raw data as it is an old setup that is running on a thin client.
Both PDW and multimon-ng were getting the info from line-in from a uniden scanner. Both PDW and multimon-ng were running on the same computer at the same time.

[2017-05-31 00:54] jklnz commented on #63
The sample thing sort makes sense, guess that could explain the missed decodes.

[2017-05-31 01:00] Zanoroy commented on #63
No problems.. I'm having trouble getting PDW to 'hear' my audio. I'm on windows 10 and the receive indicator in pdw doesnt seem to go above 25% so its a bit hard to use it.. all good.. I'll get it working..

[2017-05-31 01:06] jklnz commented on #63
Yeah PDW is not easy to get working.... it requires alot of volume changes to find the perfect setup. One of my set ups is using sdrsharp to send the audio to VB audio cable then in PDW setting the VB audio cable as input.

Just checking you do have it set to decode FLEX in the options? I think this is disabled by default.

[2017-05-31 01:24] Zanoroy commented on #63
Yeah, i have it set as Flex. Stuffed if I can get it to work at the moment.
I assume I don't need the USB hardware device to convert the 2FSK, although I have one at the office. I have the Speaker OUT looped into the Line-In (using a 3.5mm audio cable) .

I'll keep playing. This is a pain in the butt...

[2017-05-31 01:29] jklnz commented on #63
Nah you don't need that device.

Every time i have had to set it up on a new computer it has taken me over a day to get it right, it is very very difficult but once you get it set then you are good.

[2017-05-31 01:42] Zanoroy commented on #63
Ok, so I installed VA Cables and I have it processing data. 👍 Now I'll just have to tune it a little..

Just to confirm the network you recorded the data from was Flex1600?

[2017-05-31 01:44] jklnz commented on #63
Sweet good to hear! Yeah the messages are FLEX 1600. We only have 1600 Flex over here. There is probably a couple of POCSAG messages in there too.

[2017-05-31 01:53] Zanoroy commented on #63
PDW Identifies every one of the missing messages at a buad rate of 3200. PDW seems to ignore the Sync2 baud rate identifier and just deciphers the raw data regardless. Where as Multimon-ng is actually obeying the Sync2 rates and therefore see the symbols as incomplete.
I'm looking into the raw data now to verify

[2017-05-31 02:10] jklnz commented on #63
That's really interesting! two separate computers with completely separate radios and aerials produce the same results... so that is definitely weird.

[2017-05-31 02:23] Zanoroy commented on #63
Ok, so I found the issue.. Alas Multimon-ng was at fault..

Give me a minute and I'll write up the fix (which is quite simple)

[2017-05-31 02:42] Zanoroy commented on #63
So, Multimon-ng is missing a Sync identifier flag from the 'decode_mode' function (currently marks as "Unknown") and therefore never identified the baud rate change, and defaulted to 1600. The easy fix is to change the Array deceleration from:
[code]
to:
[code]

I actually modified the function in my code to return a Boolean to indicate if the Sync flag was found. If it wasn't found I still defaul

[2017-05-31 02:51] Zanoroy commented on #63
I'm just trying the RTL_FM bin file from joper112 but having trouble convert it to a standard sample rate to process...

[2017-05-31 03:00] Zanoroy commented on #63
@joper112  could you please tell me the settings you used on RTL_FM to record the data? (I'm assuming you didn't pipe it through SOX before sending to Multimon-ng, if you did I need to know the SOX settings also please)

[2017-05-31 03:10] jklnz commented on #63
Thanks alot for that @Zanoroy - I will make the changes when I get home tonight and test it out. Nice work.

What are you doing C# wise? Are you making an addin for SDRsharp?

[2017-05-31 03:19] Zanoroy commented on #63
Yeah, I'm actually developing a drive test kit for a Flex network and wanted to be able to link Raw IQ, Raw Demodulated FM, Symbols, location Lat/Long, RSSI and Decoded messages at the same time and display it all on openmaps so I ported the code to C# to run on a standard PC.

So I first wrote the C# code as a two part SDRSharp plugin. I have a very beta version that replicates 90% of PDW as an S

[2017-05-31 03:20] Zanoroy commented on #52
@Shaggs I'd be interested in so of your raw data if you have any. I managed to fix the multi-part message issues when porting the flex code to c#, I went through two primary issues identified. If you read through the issues I raised #63 (sorry I could have continued it here but @pvachon description didnt seem to jell with my findings) . Hopefully these two small changes to the demod_flex.c will re

[2017-05-31 03:27] Shaggs commented on #52
@Zanoroy ill reccored shortly and upload to dropbox how much do you want?

[2017-05-31 03:32] Zanoroy commented on #41
@muratcorlu Could you please record some raw data and send it to me, I think I have resolved this issue and would like to test it.

[2017-05-31 03:35] Zanoroy commented on #63
@joper112 wow you have been dealing with this issue for a long time, I just went though some of the other issue threads and you popup everywhere.

Could you please implement the changes above and let me know how it goes. If it doesn't fix your Group Message problem let me know and I'll work it out and send through the fix.

@EliasOenal I'm happy to pick up the Flex Decoding issues if Chris isn't a

[2017-05-31 03:35] Shaggs commented on #52
or if you could post you pull requests i xan run it along side my windows pc running pdw

[2017-05-31 03:50] Shaggs commented on #52
https://www.dropbox.com/s/l5aqj6jjsr3ecl4/Pdw%20Fragmented.m4a?dl=0

will be up for 3 hrs from now

[2017-05-31 03:50] Shaggs commented on #52
https://www.dropbox.com/s/l5aqj6jjsr3ecl4/Pdw%20Fragmented.m4a?dl=0

will be up for 3 hrs from now

[2017-05-31 03:51] Shaggs commented on #52
or if you could post you pull requests i xan run it along side my windows pc running pdw

[2017-05-31 03:57] jklnz commented on #63
Looking good @Zanoroy ! I just recompiled it and so far two fragmented messages have come through on both PDW and multimon

[2017-05-31 03:57] Zanoroy commented on #52
Sorry, the code fix I put in place is actually in c# I haven't 'pulled' it officially, I can test the code a lot easier in Visual Studio where I can walk the symbols one by one.
Your 8 minutes of data should be good enough for me to play with.

I'll let you know how i go.

[2017-05-31 04:02] Shaggs commented on #52
will this work on linux?

[2017-05-31 04:03] Zanoroy commented on #63
Awesome :)

[2017-05-31 04:11] Zanoroy commented on #52
Yes I can give you the single file, you will have to recompile but that will be all. Are you in Adelaide? if so, I did this fix using the Adelaide (I'm in Vales Park) flex network. I'm also part of the team rolling out the new Paging network.

[2017-05-31 04:15] Shaggs commented on #52
yes i am in the hills not sure how to pm on here but very interested in what is to come and would like to work along side as i have a few things i use the paging for (turnout systems)

[2017-05-31 04:18] Zanoroy commented on #52
Ok,  the fix I have in place gets exactly the same messages as PDW does.

Let me convert it to the Linux version and upload it (it will take about 5 minutes)

[2017-05-31 04:26] Zanoroy commented on #52
I have attached the the demod_flex.c replacement file that fixes the issues (I have to zip it to be able to upload it to github)

Unzip it and copy over the existing one and recompile multimon-ng and your issues will be solved.
Not sure we can PM here but my email address is zanoroy@gmail.com feel free to email me and we can chat, I'm assuming you are working with CFS?

[demod_flex.zip](https://gi

[2017-05-31 04:52] jklnz commented on #63
I have had it running for about 55 mins and it is picking up A LOT more messages than before your change which is great, however it is definitely still missing a few messages... I will see if I can get any more info/a log...

[2017-05-31 04:56] Zanoroy commented on #63
No problems, if you can get raw data for me to process I can fix the issues.

Cheers

On Wed, 31 May 2017, 14:22 jklnz, <notifications@github.com> wrote:

[2017-05-31 07:34] joper112 commented on #63
@Zanoroy yes im waiting already a long time :P the command i run is : rtl_fm -f 169.65M -s 22050 -p -19 | multimon-ng -a FLEX -a SCOPE -t raw /dev/stdin >> /var/www/pager/p2000.txt When you have a better one i like to hear!

[2017-05-31 07:47] joper112 commented on #63
I changed it but i get ;
FLEX: 2017-05-31 07:46:20 1600/2/A 11.084 [000401998] UNK 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-05-31 07:46:20 1600/2/A 11.084 [000400779] UNK 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-05-31 07:46:20 1600/2/A 11.084 [000400772] UNK 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-05-31 07:46:20 1600/2/A 11.0

[2017-05-31 08:06] jklnz commented on #63
Hey @Zanoroy, I have managed to find one more message where it does not decode in multimon but does in PDW. IT is the LAST messages in this file.
https://1drv.ms/u/s!AroehrZ8a8wxbC46S0FjDvv22tg

Ever since i've tried to record audio all of the fragmented messages have come through perfectly.... maybe I should just keep recording it!

[2017-05-31 08:15] Zanoroy commented on #63
@joper112  No problems, I'll see if I can replicate the issue using the RAW data you sent me and get a fix to you. So am I right in assuming you did the following command to save the bin file "rtl_fm -f 169.65M -s 22050 -p -19 > output.bin" ?

@jklnz Hey, I managed to find one this afternoon that is missed because its crossing the 0 line too much, which I find very strange because the raw data doe

[2017-05-31 12:01] Zanoroy commented on #63
Damn, ok I found a problem with the symbol identification which is causing a sync loss under some conditions. I have a beta fix but I need to test it and to make the code something resembling decent, I need to split the functions in to single function blocks. I should have it completed tomorrow. Not sure how I'll submit the change at worst I can just attach it to a comment.

[2017-05-31 21:59] muratcorlu commented on #41
@Zanoroy can you give me a quick information about how can I record raw data for you? I'm running it on a raspberrypi.

[2017-05-31 22:32] Zanoroy commented on #41
Are you using RTL_FM to demodulate the radio stream?

If you are you can collect raw input for me by typing the following:
 rtl_fm -f ####M -s 22050 -p -19 > demodulatedfm.bin

Obviously change the #### to your receive frequency. Once you have a few minutes (or until you think we should have recevied a few pages over the air) hit ctrl-c and send me the file.

[2017-05-31 23:35] jklnz commented on #63
Sweet, nice work, good to hear it is actually a bug, I was hoping it wasn't something I was doing wrong with my receiving setup.

Yeah if you attach it as a comment we can test it, then if need be we can fork multimon-ng and submit a pull request (I don't mind doing this if you don't want to).

[2017-06-01 00:00] muratcorlu commented on #41
Here is a record for a few minutes:
[demodulatedfm.bin.zip](https://github.com/EliasOenal/multimon-ng/files/1043228/demodulatedfm.bin.zip)

That screenshot shows some p2000 messages that parsed in the same period on http://www.livep2000.nl/monitor/ :
![image](https://cloud.githubusercontent.com/assets/127687/26658947/9b042c38-466d-11e7-9a5a-a7e8375a9649.png)

[2017-06-01 01:58] jklnz commented on #21
I have made a change to pocsag.c and proposed a pull request for this issue - #64

[2017-06-01 03:39] Zanoroy commented on #41
@muratcorlu Could you collect more data, I was able to decode that file without issue.

[2017-06-01 04:13] Zanoroy commented on #63
@jklnz Ok, I have been able to process all the files you have supplied without missing any messages or fragments. I have also process hours of my own recordings 100% match with PDW so far.

[demod_flex.zip](https://github.com/EliasOenal/multimon-ng/files/1043588/demod_flex.zip)

@joper112  The raw data you supplied me isn't valid data, so I cannot decode it correctly, could you pease collect raw i

[2017-06-01 04:27] jklnz commented on #63
Thanks a lot for that @Zanoroy, appreciate your work on the fixes, I have compiled it and i'm testing it right now. Initial feedback is that it looks pretty good, almost perfect, on my newer computer, but on my old one (a thin client, probably like 10yo) it is missing a lot of FLEX messages that it was getting before the change.

[2017-06-01 04:42] Zanoroy commented on #63
That's interesting the parameter I changed was the Phase out of adjustment sliding window. Maybe it should be made into a parameter.

IF you want to test that theory on your older PC modify the PHASE_LOCKED_RATE back to 0.010 and PHASE_UNLOCKED_RATE  to 0.050, that will put it back to what it was yesterday, you could attempt to walk the PHASE_LOCKED_RATE up .05 at a time to pickup the missed messa

[2017-06-01 04:53] jklnz commented on #63
Oh really, thanks, I will give that a shot and see what happens...
The older computer is getting the input through a line in cable as opposed to SDR on my new computer.

[2017-06-01 05:50] jklnz commented on #63
Initial results looking great on my new computer, in the last one hour there was 140 FLEX messages and 7 were missed.

[2017-06-01 05:50] Zanoroy commented on #63
Ok, with more playing I tuned my phase adjustment rate to 0.150 for both and now I'm decoding messages PDW isn't getting.

PHASE_LOCKED_RATE = 0.150
PHASE_UNLOCKED_RATE = 0.150

Give it a try and let me know how you go.

[2017-06-01 06:05] jklnz commented on #63
Thanks I have changed it and am running it again now.
Yeah I was getting a couple of messages that PDW did not pick up as well, which is pretty good.

As a side question, are you building multimon-ng with Visual Studio?

[2017-06-01 06:10] Zanoroy commented on #63
I'm building my ported version in visual studio, then I have been porting
the changes back into the linux version and testing on my VM.

On Thu, 1 Jun. 2017, 15:35 jklnz, <notifications@github.com> wrote:

[2017-06-01 06:12] jklnz commented on #63
How did you manage to get it to build in Visual Studio? I tried a few times to do it, but had to resort to using mingw32 on a VM to build it...

[2017-06-01 06:19] Zanoroy commented on #63
I only ported the flex parts. I created three projects, one is the flex
code from multimon-ng (I cut and paste the c++ coffee into c# and manually
changed the code syntax), one is a console applicant that opens a past in
wav file, the third is a Windows form that uses some code from SDRSharp
(the old open license version) to use my bladerf radio, and a plugin I use
to display the messages as they

[2017-06-01 06:20] Zanoroy commented on #63
I use the first one as a class object for the other two (Only one place to
change flex code).

On Thu, 1 Jun. 2017, 15:49 Bruce Quinton, <zanoroy@gmail.com> wrote:

[2017-06-01 06:38] jklnz commented on #63
Oh right, sounds quite in depth!
I think i'll stick to using mingw32 to build it.

I don't want to start celebrating too early, but it is looking really good on my new computer for the past 20mins. Getting better results than PDW.

[2017-06-01 06:41] Zanoroy commented on #63
Great, fingers crossed we have the issues sorted.

On Thu, Jun 1, 2017 at 4:08 PM jklnz <notifications@github.com> wrote:

[2017-06-01 06:42] Zanoroy commented on #63
If you want a windows version of just the flex class object I'm happy to share it with you. It really depends on what you are trying to achieve.

[2017-06-01 06:44] EliasOenal commented on #63
Regarding building multimon-ng in Visual Studio, taking the VS project files from the "unsupported" folder could be a starting point. I usually build it using qmake and the MinGW toolchain Qt comes with on Windows.

[2017-06-01 06:53] jklnz commented on #63
@EliasOenal Thanks, Yeah I did try that initially, I will give it another go. Yeah using qmake / MinGW is how i'm building it at the moment which is working great

@Zanoroy Yeah once you finish it I wouldn't mind a copy of the FLEX stuff, I may write up my own addin for SDR Sharp at some stage but I think now that multimon-ng is getting almost 100% flex/pocsag hits I will probably use that.

[2017-06-01 06:55] Zanoroy commented on #63
@EliasOenal Hey, thanks for multimon-ng its been great. Let me know if you want me to branch off the fixes Jklnz and I have been resolving or if you want to roll the changes into the master copy.

Cheers

[2017-06-01 07:01] EliasOenal commented on #63
@Zanoroy @jklnz if you open a pull-request I'll be more than happy to merge it! :)

[2017-06-01 07:42] Zanoroy commented on #52
I have an improved version.

[2017-06-01 07:43] jklnz commented on #63
Hey @Zanoroy I managed to capture audio of one more decoding error, it seemed to get picked up fine by PDW but the logfile for multimon says:
FLEX: State: SYNC1
FLEX: SyncInfoWord: sync_code=0x7b18 baud=3200 levels=2 polarity=POS zero=-0.036783 envelope=0.881760 symrate=1600.029517
FLEX: State: FIW
FLEX: FrameInfoWord: cycleno=09 frameno=075 fix3=0x3c time=38:20
FLEX: State: SYNC2
FLEX: State: DAT

[2017-06-01 07:44] Zanoroy commented on #63
Ok, I'll have a play, cheers

On Thu, Jun 1, 2017 at 5:13 PM jklnz <notifications@github.com> wrote:

[2017-06-01 08:04] jklnz commented on #63
Sorry @Zanoroy I think that last one may have been an error as I was double checking PDW and it had not picked it up.
Although I did get a few at the end of this file that werent picked up by Multimon. https://1drv.ms/u/s!AroehrZ8a8wxbyvbdlLDp88oPCA

[2017-06-01 08:25] Zanoroy commented on #63
@jklnz I was able to process both of the files you gave me 100% successfully against PDW.

[2017-06-01 08:26] jklnz commented on #63
Interesting, I imagine it may be something to do with my computer then, maybe because i'm running them both at the same time they are competing for resources...

[2017-06-01 08:30] Zanoroy commented on #63
Maybe, but it would be really nice to know for sure. It could be my PC is
over spec'd and therefore dealing with resource collision better (it doesnt
seem to be, but you never know) are you able to re-process it and get the
same result?

On Thu, Jun 1, 2017 at 5:57 PM jklnz <notifications@github.com> wrote:

[2017-06-01 08:47] jklnz commented on #63
Yeah i'll try to run it through right now and let you know.  How do you get multimon-ng do read in the wave file? I tried playing it and PDW picks it up no problem but multimon-ng keeps coming FLEX LOCKED then FLEX SYNC LOST

[2017-06-01 09:01] jklnz commented on #63
Nevermind, I figured it out

[2017-06-01 09:05] jklnz commented on #63
I run it through both PDW and multimon-ng and it processes perfectly in both of them...................

[2017-06-01 09:07] Shaggs commented on #52
can you post or email updated version till try it overnight..

[2017-06-01 09:29] jklnz commented on #52
Use this demod_flex.c and recompile it
[demod_flex.zip](https://github.com/EliasOenal/multimon-ng/files/1044252/demod_flex.zip)

[2017-06-01 10:10] Zanoroy commented on #63
I'm glad I was staring to wonder how I could replicate the problem

On Thu, 1 Jun. 2017, 18:35 jklnz, <notifications@github.com> wrote:

[2017-06-01 10:17] joper112 commented on #63
@Zanoroy the ambulance messages are ok but the group messages from the firedepartment are unk 00000000 or FLEX: 2017-06-01 10:11:10 1600/2/A 02.111 [000120999] UNK 00000c03 000258a7 00025572 0001c011 0001c011 001fffff 00000000 001fffff
FLEX: 2017-06-01 10:10:25 1600/2/A 02.087 [001420014] UNK 00000000 00000000 00000000 00000000 00000000 00000000

im recording now some output for your with rtl_fm -

[2017-06-01 10:23] Zanoroy commented on #63
Ok, once I get some raw data I can have a go at fixing it..

once you have some data recorded, you can test it to ensure that it has the problem in it:
`
sox -t raw -esigned-integer -b16 -c1 -r 22050 output.bin -esigned-integer -b16 -r 22050 -t raw - |multimon-ng -a FLEX -

`

That should show the same problems. Once you are sure you have some, zip it up and send it over..

Cheers

[2017-06-01 10:45] joper112 commented on #63
@Zanoroy  You can download it from https://www.dropbox.com/s/37wj28toe8m8y1b/output.bin?dl=0 i think the are 4 or 3 firedeparment messages.

[2017-06-01 10:46] Zanoroy commented on #63
Excellent, I'll start processing it shortly..

On Thu, 1 Jun. 2017, 20:15 joper112, <notifications@github.com> wrote:

[2017-06-01 10:47] joper112 commented on #63
when i run sox -t raw -esigned-integer -b16 -c1 -r 22050 output.bin -esigned-integer -b16 -r 22050 -t raw - |multimon-ng -a FLEX - i cat bash sox:  command not found

[2017-06-01 11:08] joper112 commented on #63
What i see is when the are more than 1 capcode in a message i get a unk 0000000000 ...... when only 1 capcode is Alarmed i get the original message. but when the are more than 1 i get: FLEX: 2017-06-01 11:06:46 1600/2/A 01.098 [000120999] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-06-01 11:06:46 1600/2/A 01.098 [000120197] UNK 00000000 00000000 00000000 00000000

[2017-06-01 11:11] Zanoroy commented on #63
Yes thanks, I see the decoding issue, now I just need to work out how to
fix it.

On Thu, 1 Jun. 2017, 20:38 joper112, <notifications@github.com> wrote:

[2017-06-01 12:20] EliasOenal commented on #63
For what you're doing it may not matter, but whenever you resample using SoX you should use '-R' ('-r' when calling SoX implicitly through multimon-ng) for the repeatable mode. Otherwise it will use a random seed for dithering and you may get different decodes on different runs. It took me a while to realise what caused this when I wrote the POCSAG decoder and got unreliable results.

[2017-06-01 12:23] joper112 commented on #63
Thanks for your message @EliasOenal, I will wait for @Zanoroy 😄

[2017-06-01 12:23] Zanoroy commented on #63
Oh good to know, thanks

On Thu, 1 Jun. 2017, 21:50 Elias Önal, <notifications@github.com> wrote:

[2017-06-01 21:27] davidmckenzie opened #66 "Rtl_fm | sox | multimon"
Hey guys,

Not sure if this is best place for it, but seems pretty active lately so figured it was worth a shot. :)

Has anyone had any luck with piping rtl_fm through sox before multimon? When using SDR# -> PDW I've found a bandwidth of 12050hz works perfectly, so was going to try upsampling from that to 22050 for multimon. Tried the following with no luck:

[code]

Dropping sox and running at 22

[2017-06-02 02:35] Zanoroy commented on #63
@joper112 & @jklnz  could i get you both to test with this version please.

I have added Group handling into the code, but I noticed that 'Long' Messages address were treated slightly differently so I changed it to bring it into line. OF course that may cause issues I havent been able to spot. I tested all the samples I have been given over the last week and all decode correctly including the grou

[2017-06-02 03:51] jklnz commented on #63
Cool thanks - I have recompiled it and am running it now, I will let you know how it goes. Interesting you mention about Long messages as it looked like some of the messages that were missed yesterday were in a bunch of messages (e.g. about 6 pages came through within 5-10 seconds and one/two was missed)

[2017-06-02 05:47] jklnz commented on #63
@Zanoroy I've had this running for the past two hours and results have been very good so far - I haven't found a message that it has missed yet on my new computer! On the thin client/old computer it is running alot better but probably missing 10% of messages...

[2017-06-02 05:49] Zanoroy commented on #63
Interesting, I can only assume its the Phase shifting values that we
changed yesterday.. are both clients running at the same sample rate?

On Fri, Jun 2, 2017 at 3:17 PM jklnz <notifications@github.com> wrote:

[2017-06-02 06:16] jklnz commented on #63
Looks like they are both at 44100. One is a scanner with a discriminator tap (thin client) and the other is an airspy sdr (new computer)

[2017-06-02 06:57] jklnz commented on #63
I think I have only missed a couple of messages on Multimon-NG, maybe 5 at most on my new computer. It is picking up messages that PDW is missing too.

[2017-06-02 07:27] joper112 commented on #63
im missing a lot of messages now and the first firemessage is : FLEX: 2017-06-02 07:26:59 1600/2/A 06.105 [001106998] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-06-02 07:26:59 1600/2/A 06.105 [001106973] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-06-02 07:26:59 1600/2/A 06.105 [001104799] UNK 00000000 00000000 00000000 00000000

[2017-06-02 07:30] Zanoroy commented on #63
No problems, I was able to process all the data you gave me yesterday
successfully, so the more data the better..

On Fri, 2 Jun. 2017, 16:58 joper112, <notifications@github.com> wrote:

[2017-06-02 07:32] joper112 commented on #63
maybe my multimon is not good? do i need to reinstall it?
Im  now recording for you. the first output was :

Enabled demodulators: FLEX SCOPEEnabled demodulators: FLEX SCOPE
FLEX: 2017-06-02 07:26:59 1600/2/A 06.105 [001106998] UNK 00000000 00000000 00000000 00000000 00000000 00000000 00000000
FLEX: 2017-06-02 07:26:59 1600/2/A 06.105 [001106973] UNK 00000000 00000000 00000000 00000000 00000000 00

[2017-06-02 07:34] jklnz commented on #63
The time is in GMT, just modify the demod_flex.c any time you see gmtime change it to localtime, if you need help let me know and I can send you the file with the changes

[2017-06-02 07:36] Zanoroy commented on #63
Joper, if you recompiled the new version off the code you shouldn't be able
to see "unk" message types. Did you recompile?

On Fri, 2 Jun. 2017, 17:04 jklnz, <notifications@github.com> wrote:

[2017-06-02 07:38] joper112 commented on #63
Sorry no how do i recompiled it? can you give me the command (I ashamed)

[2017-06-02 07:43] joper112 commented on #63
When i run
qmake ../multimon-ng.pro
make
sudo make install
Again i get a lot of erros from the demod_flex.o file

[2017-06-02 08:03] Zanoroy commented on #63
You will get two warnings when you run "make" at the moment I haven't
cleaned up two variables that are no longer used.

On Fri, 2 Jun. 2017, 17:14 joper112, <notifications@github.com> wrote:

[2017-06-02 08:06] joper112 commented on #63
When i run it i get a shitload of erros example *not all of them)
st struct demod_param demod_fmsfsk;
                                 ^
../multimon.h:283:33: warning: unused parameter ‘demod_clipfsk’ [-Wunused-parameter]
 extern const struct demod_param demod_clipfsk;
                                 ^
../multimon.h:282:33: warning: unused parameter ‘demod_ufsk1200’ [-Wunused-parameter]
 extern c

[2017-06-02 08:09] joper112 commented on #63
I am installing multimon clean and i get with a clean install /usr/include/arm-linux-gnueabihf/bits/mathcalls.h:371:1: warning: unused parameter ‘scalbf’ [-Wunused-parameter]
 __MATHCALL (scalb,, (_Mdouble_ __x, _Mdouble_ __n));
 ^
/usr/include/arm-linux-gnueabihf/bits/mathcalls.h:356:1: warning: unused parameter ‘__fmaf’ [-Wunused-parameter]
 __MATHCALL (fma,, (_Mdouble_ __x, _Mdouble_ __y, _Mdou

[2017-06-02 08:12] Zanoroy commented on #63
Ok in my defence, I only touched the demod_flex.c file..

They are all warnings so you should get it to compile without issues.

On Fri, Jun 2, 2017 at 5:40 PM joper112 <notifications@github.com> wrote:

[2017-06-02 08:20] joper112 commented on #63
I do not blame you either. I dont understand why i can not doing this.... i install everything again. Maybe i am missing a package....

[2017-06-02 08:21] jklnz commented on #63
Yeah i get TONS of warnings when I compile it too.... presume it's part of the package....

This wave file here has a couple of fire pagers which come up on PDW but not multimon-ng. I retested it from the wave file and get the same results this time!

https://1drv.ms/u/s!AroehrZ8a8wxcBriKQO_5Mhd9rI

[2017-06-02 08:23] Zanoroy commented on #63
@joper112 from the multimon-ng folder do the following commands

mkdir build
cd build
qmake ../multimon-ng.pro
make
sudo make install

@jklnz, Thanks I'll download it now and have a look after dinner (I'm in Adelaide, Australia and have a 5 yr old running around me...)

[2017-06-02 08:26] joper112 commented on #63
I did 😄

I get now FLEX: 2017-06-02 08:23:14 1600/2/A 05.113 [002029568] GPN P 1 (inci 12) Gebouwbrand Drogteropslagen 105 7701XA Dedemsvaart 042338 042350 042360 (dak)
FLEX: 2017-06-02 08:23:14 1600/2/A 05.113 [002029568] GPN P 1 (inci 12) Gebouwbrand Drogteropslagen 105 7701XA Dedemsvaart 042338 042350 042360 (dak)
FLEX: 2017-06-02 08:23:14 1600/2/A 05.113 [002029568] GPN P 1 (inci 12) Gebouwbra

[2017-06-02 08:40] Zanoroy commented on #63
@joper112 that maybe an early celebration keep an eye on it to make sure you are getting all messages as best you can.. Dont get me wrong, thats fantastic.

SQL wise, you will need to a python or Perl script that takes the information from the multimon-ng output and pushes it into a database. Google for "pipe stdout to Python" once you understand that a little look into using python to insert reco

[2017-06-02 08:40] joper112 commented on #63
Maybe you can help me to set time to cet? Amsterdam Time?????? I changed something and every thing broke

[2017-06-02 08:41] joper112 commented on #63
@Zanoroy thanks my program skills in python are better dan c of c# so i will look. for now i opened my p2000 site and every message i see i see that over there also

[2017-06-02 08:50] jklnz commented on #63
@Zanoroy All good, better keep your kid happy!
I just run it through again and it is definitely not picking up the two messages to pager address 0999218 and 0999219 - log file attached
[flex.zip](https://github.com/EliasOenal/multimon-ng/files/1047162/flex.zip)

[2017-06-02 09:20] EliasOenal commented on #63
@joper112 you may want to have a look at loglunatic by @arekinath. From what I remember it easily parses multimon-ng into a database while allowing for filtering and tagging from a pretty web based interface. https://github.com/arekinath/loglunatic/wiki/filters.multiline

[2017-06-02 14:55] joper112 commented on #63
@EliasOenal  thanks for the tip. i tried but i need to figure out how the scripts from @arekinath  woks.

@jklnz @Zanoroy i changed the time thats working now! i see i miss zero messages so i think its good 😄

[2017-06-03 00:12] Zanoroy commented on #63
@joper112  Great job.

@jklnz I'm going to take a couple of days to get to it, I'm training over the weekend for the 24hr true grit so I'm going to have limited time. My c# version decodes your messages correctly. The Linux version is not keeping the Sync so I need to check what the difference is. I'll get it done ASAP, regression test it and get you a version.

Cheers

[2017-06-03 00:14] Zanoroy commented on #66
I have tested a few feeds, but up-sampling doesn't seem to process very well. I'll have a look at it soon and see if I can help with a solution.

[2017-06-03 02:26] jklnz commented on #63
No worries, must be a hidden issue. I also noticed some numeric messages are cut a few digits short. Jeez just checked the website for the true grit thing.... good luck with that haha!

[2017-06-03 02:30] jklnz commented on #66
@davidmckenzie strangely I have a lot more success using multimon under windows, I tried to use it with a Raspberry PI but did not have any luck - it would miss half the messages. I can pretty much run it on windows just fine at the same time as PDW as well with no changes. Yeah I do a similar thing at the moment with the messages - they get pushed in to an ASP.NET website which uses regex to deco

[2017-06-03 09:59] Zanoroy commented on #63
@jklnz Found it.. One line different.. BBBBUUUTTTT I separated the functions one to do Symbol Identification and and the other to do Symbol processing... Just to make it easier later in life... I also removed the two warnings when compiling ... the two I caused that is.. the rest are still there just not in the demode_flex file ;)

@joper112 you should use this version too (you will have to change

[2017-06-03 12:27] jklnz commented on #63
Nice work, hopefully this will be the last fix! Yeah I get screens of warnings whenever I compile the whole app, someone must be trying to set a record for most warnings :P....

I have recompiled it, and it seems to be working great - on my thin client I am now getting almost the same messages as my main computer (still misses the odd message). I will let you know how it goes throughout the day to

[2017-06-03 12:34] Zanoroy commented on #63
Damn I forgot to check the numeric one.. I'll have a look tomorrow.. Cheers

On Sat, Jun 3, 2017 at 9:57 PM jklnz <notifications@github.com> wrote:

[2017-06-03 13:23] Shaggs commented on #52
Closing Issue as #63 fixed issue.

[2017-06-03 13:23] #52 closed

[2017-06-03 23:19] Zanoroy commented on #63
@jklnz , @joper112 : Numeric paging fixed too.

[demod_flex.zip](https://github.com/EliasOenal/multimon-ng/files/1050020/demod_flex.zip)

The only thing left now it to combine fragmented messages (if the user sets a flag, I actually need it to keep them separate).

[2017-06-04 00:01] Zanoroy commented on #63
Nope, changed my mind, I'm not combining the messages. The overhead on small PCs (eg Raspberry Pi) would case the system to miss messages.

[2017-06-04 00:52] jklnz commented on #63
Awesome :-) - I have recompiled and deployed it, so far looking great.
Yeah it is probably best to do that somewhere else as there are a lot of fragmented messages, at least on my network there can be 4-5 at the same time.

Numeric messages seem to add a "few" extra characters on the end:
FLEX: 2017-06-04 12:47:05 1600/2/A 11.108 [001930563] NUM 0220107413[[[[[10000[[[[700000[[[[[10000000000000000

[2017-06-04 01:19] Zanoroy commented on #63
Hey, could you send me the raw source for a couple of those numeric ones..
I'll adjust the code to handle it..

On Sun, 4 Jun. 2017, 10:22 jklnz, <notifications@github.com> wrote:

[2017-06-04 01:19] Zanoroy commented on #63
Also I branched the code and uploaded the latest version.

On Sun, 4 Jun. 2017, 10:49 Bruce Quinton, <zanoroy@gmail.com> wrote:

[2017-06-04 01:49] muratcorlu commented on #41
@Zanoroy Another record for longer period:
[demodulatedfm2.bin.zip](https://github.com/EliasOenal/multimon-ng/files/1050067/demodulatedfm2.bin.zip)

[2017-06-04 04:06] Zanoroy commented on #41
@muratcorlu if you this version and recompile you will your messages correctly.

[demod_flex_2.zip](https://github.com/EliasOenal/multimon-ng/files/1050108/demod_flex_2.zip)

[2017-06-04 07:38] jklnz commented on #63
No worries, i have been waiting all afternoon but no numeric pages have come through yet sadly

[2017-06-04 22:29] davidmckenzie commented on #66
Thanks guys. I ended up getting some pretty good decodes out of it running on my mac. Actually seems to be performing better than SDR# -> PDW running simultaneously now!

Node app is still very much WIP, but got a prototype receiving data here:

https://pagermon-hrng.c9users.io:8080/#/

[2017-06-04 23:15] pvachon commented on #66
You might find you'll have more luck using `rtf_fm` to grab a 25kHz chunk of the spectrum then downsample with SoX to 22050 Hz. If you're feeling adventurous, I have a new decoder (`depager`) I've been using w/ similar ARM boards (https://github.com/pvachon/tsl-sdr). I was planning to integrate it back into `multimon-ng` someday, but time is always a problem. :-)

[2017-06-04 23:21] Shaggs commented on #41
@Zanoroy confiming fix works 100% on linux side by side with pdw. on FLEX 1600 didnt miss a beat good work all :) bye bye windows and pdw

[2017-06-04 23:26] davidmckenzie commented on #66
Oooh that looks neat, will have to have a play with it :)

[2017-06-05 00:29] jklnz commented on #66
@davidmckenzie wow your site looks much better than mine haha, nice work! Sadly in NZ you are not allowed to publish pager messages like you can in Aus

[2017-06-05 00:36] Zanoroy commented on #66
@davidmckenzie, your pagemon looks great. Nice work.

[2017-06-05 00:54] davidmckenzie commented on #66
Thanks guys! Will be open sourcing it once it's functionally ready :)

[2017-06-05 02:36] jklnz commented on #63
Hey @Zanoroy - Finally managed to capture the one numeric page that goes over the network per day haha. Please see the onedrive link: https://1drv.ms/u/s!AroehrZ8a8wxccyMyh1WOCtS8ro
multimon-ng decodes it as:
FLEX: 2017-06-05 14:27:26 1600/2/A 06.120 [001930563] NUM 0212207096]U91022454627 0 4]41414015U835 280 54962[944]0140-0]1U80 9613 5-2 39 902314] 6358549280473890638[[[[[00000][[[[300008[[[[[0

[2017-06-05 02:37] Zanoroy commented on #63
Good man thanks

On Mon, 5 Jun. 2017, 12:06 jklnz, <notifications@github.com> wrote:

[2017-06-05 06:19] Zanoroy commented on #63
@Jklnz, I found the problem. (I had to look through PDW source code to see what the treatment was but its fixed now)

[demod_flex.zip](https://github.com/EliasOenal/multimon-ng/files/1051238/demod_flex.zip)

[2017-06-05 06:41] jklnz commented on #63
Excellent work, handy that PDW has the source there to help you! I have rolled it out on to my devices - haven't seen a numeric page come across yet, but presumably it will work fine!

[2017-06-05 08:43] hgisoeura commented on #63
However the decoded messages all seem to match PDW now, I still see differences in decoded addresses:

multimon-ng:
FLEX: 2017-06-05 08:25:31 1600/2/A 06.058 [002029568] GPN COENBRUG (A8) VRIJHOUDEN VOOR SPOEDAMBULANCE
FLEX: 2017-06-05 08:25:31 1600/2/A 06.058 [002029568] GPN COENBRUG (A8) VRIJHOUDEN VOOR SPOEDAMBULANCE
FLEX: 2017-06-05 08:25:31 1600/2/A 06.058 [002029568] GPN COENBRUG (A8) VRIJHO

[2017-06-05 14:50] joper112 commented on #66
@davidmckenzie Can i test your software i like it! maybe you can upload your actual version?

[2017-06-05 21:35] davidmckenzie commented on #66
Should have an alpha up on GitHub in about 2-4 weeks. Got a few things to sort out in the server side first, clean up a whole bunch of junk code and make it so that it's not a security nightmare ;)

[2017-06-05 22:22] jklnz commented on #63
No joy on the fix, @Zanoroy, numeric messages came through as:
FLEX: 2017-06-05 20:47:57 1600/2/A 12.008 [000843553] NUM 0261012348684355380261012348684329400660070519992829350
FLEX: 2017-06-05 20:47:57 1600/2/A 12.008 [000843294] NUM 026101234868432940066007051999282935050144-2]49 028615 972139340143872286 5865U8]4 62384093U -41615 0201]262U8-0][[[[300008[[[[[00000][[[[

[2017-06-06 00:15] Zanoroy commented on #63
Seriously...

did you happen to capture the data?

On Tue, Jun 6, 2017 at 7:52 AM jklnz <notifications@github.com> wrote:

[2017-06-06 00:23] Zanoroy commented on #63
@jklnz Looks like I gave you the wrong version of the file (hence why I have started using Github) download the demod_flex.c from https://github.com/Zanoroy/multimon-ng that has the correct version. Sorry mate.

@hgisoeura, that looks like the output of my first attempt of identifying the group messages. I have tested it again locally and you should receive the correct cap codes with the latest ve

[2017-06-06 00:49] jklnz commented on #63
No worries! That's all good.
I had to change these two lines in order to compile - the ones with uint to uint32_t. Presume that was right?

static void parse_numeric(struct Flex * flex, unsigned int * phaseptr, char PhaseNo, int j) {
	if (flex==NULL) return;
	unsigned const char flex_bcd[17] = "0123456789 U -][";

	uint w1 = phaseptr[j] >> 7;
	uint w2 = w1 >> 7;

[2017-06-06 01:03] Zanoroy commented on #63
You shouldnt have had to change it, but uint32_t is fine, realistically I should have just made them int declarations in the first place, because I'm just casting them to integers a little further down in the code.

I'm firing up my development laptop to see why you couldn't compile while I could using uint it has me worried.

[2017-06-06 01:45] Zanoroy commented on #63
Ok, on my development (ubuntu system) I have the variables declared as uint and it compiles without errors or warnings. I changed them to int and removed the cast a few lines down and again compiles correctly and without errors or warnings.

[2017-06-06 05:45] jklnz commented on #63
Weird, I am compiling on Windows using MnGW 5.3 32bit, so maybe the uint isn't a standard on windows or something?
Just saw a numeric page come through properly and it is working perfectly, nice job!

[2017-06-06 06:34] EliasOenal commented on #63
I don't think uint is a standard type. In any case I would suggest using explicitly sized types (e.g. uint32_t) from stdint.h since the original multimon had a lot of integer size related issues.

[2017-06-06 15:36] hgisoeura commented on #63
@Zanoroy downloaded the latest from https://github.com/Zanoroy/multimon-ng but all group messages still have same capcode [002029568]. If you can tell me how I can save RAW data into a file using rtl_fm or gqrx I might be able to provide you with the data you requested for.

[2017-06-06 22:05] Zanoroy commented on #63
With GQRX there is a button on the bottom right of the screen that allows
you to record.

Using rtl_fm do the following command:

If you are you can collect raw input for me by typing the following:
rtl_fm -f ####M -s 44100 > rawdata.bin

And obviously put your frequency in where the ### are.

zip the file and post it to me. it should be a really easy fix..

Cheers

On Wed, Jun 7, 2017 at 1:06 AM

[2017-06-07 12:40] joper112 commented on #63
@Zanoroy can you tell me what is the last stable version? i think i missed the last one.

I see a bug:

FLEX: 2017-06-07 14:37:18 1600/2/A 09.051 [002029568] GPN P 1 Gebouwbrand industr./agrarisch (middelbrand) (VK: 1) Royal Van Lent Shipyard BV Julianalaan 3 KAG 169192
FLEX: 2017-06-07 14:37:18 1600/2/A 09.051 [002029568] GPN P 1 Gebouwbrand industr./agrarisch (middelbrand) (VK: 1) Royal Van Lent

[2017-06-07 22:09] Zanoroy commented on #63
@joper112 Morning mate, thank for the info. I have re-processed the original RAW data you supplied me and its decoding correctly (showing the correct capcodes ect), I have changed the way the system identifies the group message cap codes to try and help, but if you could get me more RAW data so I have something more to debug with that would be very helpful.

[code]

I have updated the demod_flex.c

[2017-06-08 04:07] jklnz commented on #63
Hey @Zanoroy How many decoding errors do you think it should produce? Is it normal to miss about 2-4 FLEX messages an hour, is this something I should record some more RAW audio for you for?

[2017-06-08 05:41] Zanoroy commented on #63
@jklnz, if you can capture the data I can see if I can produce better
results. With my system here I miss ~1 to 2 messages every 2 to 3 hours, so
I'm happy with that at the moment.

On Thu, Jun 8, 2017 at 1:37 PM jklnz <notifications@github.com> wrote:

[2017-06-08 09:30] jklnz commented on #63
@Zanoroy thinking about it a bit more I think it is probably around the rate you are at maybe a message or two missed every hour.
I noticed one where it did decode a whole frame (05.11) was missing, but upon running the file through multimon-ng offline it decoded it perfectly.......... Maybe just a glitch with my computer?
[before and after log.txt](https://github.com/EliasOenal/multimon-ng/files/

[2017-06-08 09:38] hgisoeura commented on #63
100MB of RAW data can be downloaded from https://www.4shared.com/file/V7wkC-_Dca/rawdata.html
If you need more, just let me know

[2017-06-08 10:25] Zanoroy commented on #63
@Hgisoeura <https://github.com/Hgisoeura> did you attempt to process that
data? I just manually went through it and there is NO flex data in there,
not even sync frames? are you sure you had the correct frequency set? also
I am assuming you recorded the data from rtl_fm.

On Thu, Jun 8, 2017 at 7:08 PM Hgisoeura <notifications@github.com> wrote:

[2017-06-08 17:15] hgisoeura commented on #63
@Zanoroy no I did not process the data and I see what I did wrong, forgot the trailing M in the frequency, sorry bout that mate. Here is another go: https://www.4shared.com/file/Akhff8i4ca/rawdata1.html

[2017-06-09 01:54] Zanoroy commented on #63
@Hgisoeura <https://github.com/Hgisoeura> Are you able to confirm you have
the latest version from  https://github.com/Zanoroy/multimon-ng of the
demod_flex.c file? (it will contain the header with version 0.5 in it. I
was able to process your data correctly but then I'm post processing so it
maybe a timing issue in real life.

Let me know if you have downloaded the latest version, compiled it and

[2017-06-09 08:12] jklnz commented on #66
Hey @davidmckenzie  what is the pic/icon you are using for Fire/Ambo?

[2017-06-09 09:56] hgisoeura commented on #63
@Zanoroy I have downloded and compiled the latest version from https://github.com/Zanoroy/multimon-ng and demod_flex.c contains the header
 *  Version 0.8v (08 Jun 2017)

I'm running this on a Raspberry Pi3 and on a Acer laptop (both Jessie) and see different results:

Raspberry (3 lines):
FLEX: 2017-06-09 09:30:52 1600/2/A 07.101 [002029568] GPN A1 AMBU 17176 Menuetstraat 3223PL Hellevoetsluis HE

[2017-06-10 01:00] davidmckenzie commented on #66
@jklnz Uses the fontawesome library: http://fontawesome.io/icons/

Alpha version isn't far off now :) The aliases config page has a picker where you can select from the possible icons.

[2017-06-10 01:34] jklnz commented on #66
Oh sweet thanks, I might use those too they look pretty cool.

[2017-06-11 12:23] davidmckenzie commented on #66
Uploaded the source - still got a bit to do until I can officially call it 0.1.0, but close enough :)

https://github.com/davidmckenzie/pagermon

I'll close this off now :)

[2017-06-11 12:23] #66 closed

[2017-06-13 01:11] Zanoroy commented on #63
@hgisoeura thanks for the info, I have a couple of Pi 3's in the draw at home, I'll put one together and transmit the data using mt BladeRf to see what happens. I assume its a thread timing issue but I'm only guessing at the moment.

(on the PI) Its interesting that all three get the correct Group Address - when it should be sticking the cap code into an array and then pull it out again. I may hav

[2017-06-15 14:46] patVog commented on #46
I plan to implement this. @EliasOenal what do you think is the better way to do it. I can modify the _verbprintf function in unixinput.c or add a time stamp to each format string?

[2017-06-16 05:19] Zanoroy commented on #63
@hgisoeura Could you please grab the [demod_flex.c](https://github.com/Zanoroy/multimon-ng/blob/master/demod_flex.c) from the https://github.com/Zanoroy/multimon-ng branch and re-compile.

I have played around with raw data you gave me but its working as expected.
So I have added debug information output (when you use -v1 on the multimon-ng parameter) and freed up the CPU usage while outputting in

[2017-06-16 12:27] EliasOenal commented on #46
I think _verbprintf is probably the way to go, since this would otherwise be transparent for the decoders. Also I would recommend using getopt long (e.g. '--timestamp') since '-t' is already taken and there aren't too many unused short parameters left.
https://www.gnu.org/software/libc/manual/html_node/Getopt-Long-Option-Example.html

[2017-06-16 13:17] joper112 commented on #63
My group messages are still the same. I just downloaded all of the files from jou branch but

017-06-16 15:12:48: 002029568: A1 (DIA: ) AMBU 17129 Mia van IJperenplein 3065JK Rotterdam ROTTDM bon 58726
2017-06-16 15:12:48: 002029568: A1 (DIA: ) AMBU 17129 Mia van IJperenplein 3065JK Rotterdam ROTTDM bon 58726
2017-06-16 15:12:48: 002029568: A1 (DIA: ) AMBU 17129 Mia van IJperenplein 3065JK Rotterd

[2017-06-16 14:00] Zanoroy commented on #63
can you also run it with -v1 parameter and send me the log please

On Fri, 16 Jun. 2017, 22:47 joper112, <notifications@github.com> wrote:

[2017-06-16 19:12] hgisoeura commented on #63
@Zanoroy downloaded and compiled latest version on Pi and Acer and let it run with the -v1 parameter  on both at the same time for 30 mins or so. Results in attached zip file. Enjoy :)

[NLflexdata16062017.zip](https://github.com/EliasOenal/multimon-ng/files/1081721/NLflexdata16062017.zip)

[2017-06-18 23:57] Zanoroy commented on #63
@hgisoeura I have worked out what's happening with your laptop, but the logs you sent for the raspberry pi didn't have the -v1 parameter set so it didn't have the extra debug information.
Could you please do it again with the extra parameter.

[2017-06-19 06:55] hgisoeura commented on #63
I initially uploded the wrong Pi file, but I edited the post withing one hour. Please download the "a" version of the above zip file (NLflexdata16062017a.zip).

[2017-06-19 06:56] Zanoroy commented on #63
No problems. Cheers

On Mon, 19 Jun. 2017, 16:25 Hgisoeura, <notifications@github.com> wrote:

[2017-06-19 10:14] joper112 commented on #63
@Zanoroy when i run with -v1 i get FLEX: State: SYNC1
FLEX: State: FIW
FLEX: State: SYNC2
FLEX: State: DATA
FLEX: 2017-06-19 10:13:27 1600/2/A 03.056 [002029568] GPN A1 18171 Gravin Sabinastraat 19 3284AN 19 Zuid-Beijerland RITNR 22437
FLEX Group message output: Groupbit: 0 Total Capcodes; 2; index 1; Capcode: [115964117005]
FLEX: 2017-06-19 10:13:27 1600/2/A 03.056 [002029568] GPN A1 18171 Gravin

[2017-06-20 09:27] jklnz commented on #63
Hey @Zanoroy
I finally managed to capture a flex page where it is picked up by PDW but not by multimon-ng. It appears to be reproducible when trying to run it through multimon-ng it still does not pick it up...

https://1drv.ms/u/s!AroehrZ8a8wxcs0V_dZOyyxtRgU

This is the multimon-ng log:

FLEX: BlockInfoWord: (Phase A) BIW:0000040B AW:01-01 (0 pages)
FLEX: State: SYNC1
FLEX: SyncInfoWord: sync_co

[2017-06-20 09:30] Zanoroy commented on #63
Excellent, thanks both of you. It looks like a casting issue, should be easy to fix. Unfortunately I'm currently in hospital, some viral infection pushed my temperature advice 40c. I'll have a look once I'm home.

Cheers

[2017-06-20 09:56] jklnz commented on #63
No worries, thanks for that.
Hope you get better soon!

[2017-06-20 18:56] hgisoeura commented on #63
40 degrees, sounds pretty serious. Get well soon!

[2017-06-21 02:18] Zanoroy commented on #63
@hgisoeura  & @jklnz
Ok I found what I had done to cause the capcodes to show incorrectly. I have updated the demod_flex.c code please grab the latest version from [https://github.com/Zanoroy/multimon-ng](https://github.com/Zanoroy/multimon-ng)

I was able to replicate the issue and show it as fixed on my raspberry pi (I was casting a long to an int, which was causing the issue).

On my health, th

[2017-06-21 02:56] Zanoroy commented on #53
@linuxpronl I have fixed the group messaging issues with Multimon-ng you can download the updated demod_flex.c from https://github.com/zanoroy/multimon-ng/ recompile and give it a go

[2017-06-21 02:59] Zanoroy commented on #41
@muratcorlu  I have updated the baseline code of demod_flex.c and the latest version is here https://github.com/zanoroy/multimon-ng/ this should resolve all outstanding issues that I am aware of now. I hope it works well for you.

Cheers

[2017-06-21 03:24] jklnz commented on #63
Thanks @Zanoroy - I will update my version and let you know. Just confirming that the casting issue you are talking about is the same thing that is causing some of my messages to be missed? It was not missing a group message it was just an alpha numeric message.

That sucks - Hopefully your hospital has good wifi so you can occupy the time that way!

[2017-06-21 09:22] muratcorlu commented on #41
@Zanoroy thank you!

[2017-06-21 15:21] hgisoeura commented on #63
@Zanoroy there is nothing more boring than being in a hospital, been in ones some 20 years ago and hope I'll never have to go again. For you I hope the docs will find what is causing your temp spikes before running out of blood and come up with a cure.

The first impression is good, maybe a saw a difference in capcode number (one off) but not too sure, now everything seems to be the same with pdw

[2017-06-21 22:23] Zanoroy commented on #63
The GPN was something I put in the line, it's not a flex message type as
such. I'm happy to change it to the alpha tag I had forgotten I had done
that, I was using it for differentiating (in the logs) what should or
shouldn't trigger my group messaging code.

I have changed the code to show the correct ALN type now.

Cheers

On Thu, 22 Jun. 2017, 00:51 Hgisoeura, <notifications@github.com> wrote:

[2017-06-22 11:44] hgisoeura commented on #63
Thanks @Zanoroy for changing it back to ALN. After running for almost one day I'm sorry to bring you some bad news: not all group messages are detected as such. There are many messages with capcode 002029568 that aren't split up in GPN capcodes. Furthermore I see that approximately 2% of all the messages isn't decoded at all, something that @jklnz also already mentioned. I don't think these two pr

[2017-06-22 21:33] jklnz commented on #63
Yeah @hgisoeura, I seem to get quite a few missed messages,. Usually it misses a whole frame at the time (e.g. 2 or 3 messages), and at least 1/3 of the missed messages show up as FLEX-C in PDW. Not sure if that helps @Zanoroy ?

[2017-06-22 22:22] Zanoroy commented on #63
It's hard to tell, I'd need some of the raw data. If it's missing a frame
you'll probably find in the logs that it looses sync part way through the
frame, which happens when the signal is a bit scratchy and therefore the
FSK detection is not 100%

How often are you seeing it? Does PWD always get the frames?

On Fri, 23 Jun. 2017, 07:03 jklnz, <notifications@github.com> wrote:

[2017-06-22 22:31] jklnz commented on #63
Yeah i'll pull some more raw data for you.
PDW successfully decodes 95% of them. There has only been a couple that PDW did not pick up.

https://1drv.ms/u/s!AroehrZ8a8wxcs0V_dZOyyxtRgU
That's one I found a couple of days ago - see my comment a few  days back about it.

[2017-06-22 22:33] Zanoroy commented on #63
Ok, thanks mate. I'll have a look when I can

On Fri, Jun 23, 2017 at 8:01 AM jklnz <notifications@github.com> wrote:

[2017-06-23 09:33] jklnz commented on #63
[Flex misses 2119 2306.txt](https://github.com/EliasOenal/multimon-ng/files/1097343/Flex.misses.2119.2306.txt)
https://1drv.ms/u/s!AroehrZ8a8wxc_pLHI5SF3_3SpY

I was recording when a couple of messages were missed (see them in the text file log), however when I run it through multimon-ng "offline" they seem to show up OK. So not sure if the CPU is getting too much to do at the same time and missin

[2017-06-26 06:29] Zanoroy commented on #63
I agree, I think its a combination of the FSK demodulation is taking slightly too long, along with the Symbol processing (right after the FSK demod) it would be good to break these apart into separate threads so one doesn't impact the other (which is the way the windows version is doing it).  Of course that would need a 80% to 90% re-write.

The other way to achieve it is to buffer a, say, ~30 sec

[2017-06-26 09:45] hgisoeura commented on #63
For me it wouldn't be an acceptable solution if it wasn't real time, that the windows version breaks things up in separate threats says it all I guess.

I made a mistake in calculating missed messages, will modify that later, sorry bout that. It seems there are not that many messages, if at all, missed.

 Some random results, the next messages are group messages decoded by pdw that aren't (all) sp

[2017-06-26 12:39] EliasOenal commented on #63
@jklnz, @Zanoroy, I assume you could simply use the CLI tool "buffer" with a pipe in between rtl_fm and multimon-ng.

[2017-06-26 17:21] Calimerorulez commented on #41
@Zanoroy: I tested too, and works perfectly! Thanks!

[2017-06-27 01:33] jklnz commented on #63
Interesting - Have you got any example usage of it? Do you know if it works on Windows?

[2017-06-27 03:41] jklnz commented on #63
@Zanoroy I think doing as PDW does is probably best, but either option is fine by me

[2017-06-27 03:58] Zanoroy commented on #63
I'll look into it, I could time stamp the buffer to make sure we have the "actual" time of each sample rather than the processed time.

[2017-06-27 03:59] Zanoroy commented on #63
@hgisoeura Yes your log makes sense. looks like hte system registered a group bit (2) for 001420067 but never received the frame and therefore never displayed the message.

[2017-06-27 07:39] jklnz commented on #63
@Zanoroy  Yeah that would work fine. May be it has something to do with the networks in each country (@hgisoeura) but I miss a significant portion of pager messages on Flex. Probably like 5-10 an hour compared to PDW. When it does decode it works *great* but it is missing a lot.

[2017-06-27 08:21] Zanoroy commented on #63
@jklnz <https://github.com/jklnz> Just to confirm, if you record the
transmission and re-process it, multimon-ng decodes all the messages, is
that correct?

On Tue, Jun 27, 2017 at 5:09 PM jklnz <notifications@github.com> wrote:

[2017-06-27 08:29] jklnz commented on #63
Yeah @Zanoroy the last WAV file I uploaded missed a few in real time but processing it offline they all appeared properly.

[2017-07-14 12:38] Zanoroy commented on #63
Ok mate. I'm looking into the fsk processing loop.

On Tue, 27 Jun. 2017, 17:59 jklnz, <notifications@github.com> wrote:

[2017-07-18 09:39] #46 closed

[2017-07-22 09:42] ryaneastland opened #69 "Decoding errors"
Probably just my not knowing how to set everything up right but I keep ever getting NUL at the end on messages received or Ä instead of [ and Ü instead of ] any ideas.

I'm running on a raspberry pi with rtl_fm input

command
rtl_fm -f 148.9125M -s 22050 | multimon-ng -t raw -a POCSAG512 -f alpha /dev/stdin

[2017-07-28 06:43] jboone commented on #61
Google Translate leads me to believe that @samu99 has the same issue I did:

Which was addressed on my Debian/Ubuntu system by "sudo apt install libpulse-dev".

[2017-08-04 04:11] DanielO opened #70 "Can't read directly from a pipe"
Hi,
I have been using multimon-ng with Gqrx and GNURadio - I am working on a script to decode multiple POCSAG channels in parallel.

I have found a very strange issue where I have to either pipe the audio samples through sox, or a named pipe otherwise multimon-ng doesn't work. This is really weird to me, even more so since I checked the code and it doesn't seem to be doing anything magical that se

[2017-08-22 16:06] EliasOenal commented on #70
I did run into this before as well, but never found the time to look into it. A fix would be more than welcome!

[2017-08-22 16:10] EliasOenal commented on #63
Any objections to closing this issue? You may open new ones, but I feel like the original issue was fixed.

[2017-08-22 22:22] Zanoroy commented on #63
No problems, the issue is resolved. Thanks everyone for the help in sorting things out. I think we made some great additions to the application.

[2017-08-22 22:22] #63 closed

[2017-08-24 08:06] bertinholland opened #74 "A lot of Flex invalid Offsets in group messages"
A lot of Flex invalid Offsets in group messages

**SCENARIO:**
`rtl_fm -f 169.65M -M fm -s 22050 -p -1 -g 30 -F 0 > example-rtlfm-5min.out`
`multimon-ng -a FLEX -t raw example-rtlfm-5min.out -v 3 –timestamp`

**PROBLEM:**
11x  “FLEX: Invalid Offsets”  in 5 minute sample file

**CONFIGURATION**:
Raspberry PI 3 Model B
uname –a
Linux prd 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/L

[2017-08-24 08:26] Zanoroy commented on #74
The quick answer is the preable is not being reconised and therefore the message is chipped at the wrong byte.

Let me run a few tests using your data and see what I find..

Modifying the sliding window will probably resolve the issue but it's only a guess at this stage.

I cannot play with this until tomorrow sorry.

[2017-08-27 09:04] jklnz commented on #74
Hey @Zanoroy - is there any chance of getting a copy of the C# version of the FLEX decoder you wrote please? Sorry would contact you directly but can't seem to on your github page!

[2017-08-27 15:55] bertinholland commented on #74
@Zanoroy
@jklnz

**Extra testset 01:**

**Commands generate testset**
rtl_fm -f 169.65M -M fm -s 22050 -p -1 -g 30 -F 0 > example-rtlfm-set01.out
multimon-ng -a FLEX -t raw example-rtlfm-set01.out -v 3 > example-rtlfm-set01.txt

**Attachment**
set01.zip

**Results in file example-rtlfm-set01.txt**
11x invalid offsets message
capgroup code in file [002029568] 10x
capgroup code in file [002029568]

[2017-08-27 21:14] bertinholland commented on #74
@Zanoroy
@jklnz

**Extra testset 02:**

**Commands generate testset (7 minutes)**
rtl_fm -f 169.65M -M fm -s 22050 -p -1 -g 30 -F 0 > example-rtlfm-set02.out
multimon-ng -a FLEX -t raw example-rtlfm-set01.out -v 3 > example-rtlfm-set02.txt

**Attachment (see below at the end)**
set02.zip

**Results in file example-rtlfm-set02.txt**
capgroup code in file [002029568] 14x
capgroup code in file [00202

[2017-08-28 01:30] Zanoroy commented on #74
@bertinholland I can confirm that the "Issue" is in the demod_flex.c code block.

A code flow issue was the root cause. I was checking for the end of the message block on group messages before splitting the message, therefore incorrectly identified the end block as an Invalid Offset when the messages were split across frames.

I have fixed the code and uploaded to https://github.com/zanoroy/multim

[2017-08-28 08:32] bertinholland commented on #74
@Zanoroy
Thanks for your quick response and fix!
I'm now testing it for 24 hours. Test is in progress.
Test results follow after 24 hours running.

[2017-08-29 02:02] jklnz commented on #74
Thanks @Zanoroy - no rush for it, just whenever, was thinking about either making an addin for SDRSharp or a c# app similar to PDW to add in a couple of features that i'd like.

[2017-08-29 07:49] bertinholland commented on #74
@Zanoroy

24 hour Testrun is finished.
Test contains 2454 group messages. All groups were split up correctly.
0 Invalid offsets.
Thanks for this correct fix.
Awesome job!

@Zanoroy Can you start a pull request for the Master branch (EliasOenal/multimon-ng).
Have a nice day.

Best regards,
Bert from Holland.

[2017-08-31 16:15] cintema opened #77 "Feature request: Please add support for DPRS packages!"
Hello,
since I own a Icom Dstar handset that is not capable to send APRS packets, I was hoping to set up a simple APRS/DPRS gateway on my Raspberry PI. However, the only software I know which is able to decode both APRS and DPRS data is APRX [1]. Unfortunately, APRX is huge, with a vast amount of features and pretty hard to configure, and, furthermore, appears to be not actively developed anymore.

[2017-09-01 13:19] EliasOenal commented on #70
The following worked for me on OSX: (-i was only used because the sample was inverted)
`cat test1200.raw | ./multimon-ng -a POCSAG1200 -i -t raw -`

[2017-09-01 14:28] jklnz opened #78 "Flex Tone Messages"
Hey @Zanoroy and @EliasOenal - I was watching multimon-ng running against PDW and I noticed that PDW was showing up messages as "Short Tone" with a numeric body but multimon-ng was not picking these up. I had a look at the source in demod_flex and compared it with PDW and it appears that multimon is treating all tone messages as tone messages whereas PDW correctly checks if it has numeric content.

[2017-09-01 14:31] jklnz commented on #78
[Japanese Flex Protocol Spec.pdf](https://github.com/EliasOenal/multimon-ng/files/1270555/Japanese.Flex.Protocol.Spec.pdf)

[2017-09-03 02:08] DanielO commented on #70
Yes cat works for me too, but nc doesn't, it is most peculiar..

[2017-09-04 19:33] bertinholland opened #79 "Bug in flex: When >1 group message in THE SAME frame, no message is displayed for the second group message"
@Zanoroy Can you please have a look at this issue?
@EliasOenal

**Case:**
Bug in multimon-ng flex.
When there is more than 1 group message in **_THE SAME_** frame, no message is displayed for the second group message.

**Extra information.**
The case is 100% reproducable and this scenario results in 100% message loss (when there is more than 1 group message in the same frame).

**My configuration

[2017-09-04 20:41] Zanoroy commented on #79
Damn, Do you have some raw data I can test with?
We don't use group messaging in Australia so I have nothing to test with.

Happy to supply a fix once I can find the cause.

On Tue, 5 Sep. 2017, 05:03 bertinholland <notifications@github.com> wrote:

[2017-09-04 20:54] Cholens commented on #79
There may be 1 in between. I have the same problem

[Uploading example-rtlfm.zip…]()

[2017-09-04 20:56] Zanoroy commented on #79
Excellent, thanks. I should get a bit of time this morning to have a play.
But I'm flying today so time is limited.

On Tue, 5 Sep. 2017, 06:24 Cholens <notifications@github.com> wrote:

[2017-09-04 20:58] Cholens commented on #79
I'll try to get one directly that shows this problem

Sorry for my bad English

[2017-09-04 21:42] Zanoroy commented on #79
Do you know if PDW is able to process these messages?

[2017-09-04 21:44] Cholens commented on #79
Yes there it works

[2017-09-04 21:56] Cholens commented on #79
As far as I see, decode_phase is only loaded when the script is restarted. Here by losing those data where by those new data picks up

[2017-09-04 22:19] Zanoroy commented on #79
Ok, looks like the "Long Address" bit is no getting handled correctly.

I have remove the suspect code and updated my version of the [demod_flex.c](https://github.com/Zanoroy/multimon-ng/blob/master/demod_flex.c)

You can download that version and give it a go..

The error was in the decode_phase within the:
` if (flex->Decode.long_address)
`
Code block.

[2017-09-04 22:23] Cholens commented on #79
It works as far as I can see thx :D

[2017-09-05 06:14] bertinholland commented on #79
First impression looks good!
Testing is 24 hours in progress. I will report the results.
Thanks for your fix and quick response. Awesome!

[2017-09-05 06:55] jklnz commented on #78
[tone.zip](https://github.com/EliasOenal/multimon-ng/files/1276363/tone.zip)

The relevant info from the log file is:
FLEX: SyncInfoWord: sync_code=0x870c baud=1600 levels=2 polarity=POS zero=-0.016157 envelope=0.223897 symrate=1600.049702
FLEX: State: FIW
FLEX: FrameInfoWord: cycleno=11 frameno=106 fix3=0x3c time=47:18
FLEX: State: SYNC2
FLEX: State: DATA
FLEX: BlockInfoWord: (Phase A) BIW:000008

[2017-09-05 07:43] Zanoroy commented on #78
@jkknz Damn, ok let me look into it.

On Tue, 5 Sep. 2017, 16:55 jklnz <notifications@github.com> wrote:

[2017-09-06 08:53] bertinholland commented on #79
Tetsrun is completed 24 hours. Result is 100% fix for this case. Good job!
Can you do a pull request for the master release.?
Thanks, best regards,
Bert from Holland.

[2017-09-06 09:02] Zanoroy commented on #79
Excellent

On Wed, 6 Sep. 2017, 18:53 bertinholland <notifications@github.com> wrote:

[2017-09-07 08:35] EliasOenal commented on #70
Could you try ncat and netcat as well?

[2017-09-07 22:19] Zanoroy commented on #78
Fixed, the length of a message shouldn't be checked for a TONE or Numeric message - it causes the offsets to be detected as invalid. I have uploaded a version of [demod_flex.c](https://github.com/Zanoroy/multimon-ng/blob/master/demod_flex.c) to my github. I will need to raise a pull request once we confirm the fix.

Cheers

[2017-09-08 00:53] jklnz commented on #78
NIce work, I'll give it a test and see how it goes 👍

[2017-09-08 01:08] jklnz commented on #78
Looking good, it is picking up the same tone messages as PDW so far!

[2017-09-08 21:50] bertinholland commented on #78
I can confirm after a testrun of approx 24 hours it is looking good. Zero invalid offsets. Patch is correct and ready to integrate in the base Elias release.

[2017-09-08 22:25] Zanoroy commented on #78
Sounds good. I'll raise a pull request once I have access to my pc.

On Sat, 9 Sep. 2017, 07:20 bertinholland <notifications@github.com> wrote:

[2017-09-09 09:41] bertinholland commented on #74
This fix is after 11 days testing 100% good. I will close this issue after the pull request demod_flex.c (https://github.com/zanoroy/multimon-ng/) is successfull implemented in the base release EliasOenal/multimon-ng. Thanks in advance Zanaroy.

[2017-09-09 09:41] bertinholland commented on #79
This fix is after 3 days testing 100% good. I will close this issue after the pull request demod_flex.c (https://github.com/zanoroy/multimon-ng/) is successfull implemented in the base release EliasOenal/multimon-ng. Thanks in advance Zanaroy.

[2017-09-09 22:31] DaZeller opened #80 "Make Error in file unixinput.c"
got the following error:

`:~/multimon-ng/build$ make
gcc -c -m64 -pipe -std=gnu99 -g -O2 -Wall -W -DMAX_VERBOSE_LEVEL=3 -DPULSE_AUDIO -DCHARSET_UTF8 -I/usr/share/qt4/mkspecs/linux-g++-64 -I../../multimon-ng -I../../multimon-ng -I. -o unixinput.o ../unixinput.c
../unixinput.c:47:26: fatal error: pulse/simple.h: Datei oder Verzeichnis nicht gefunden
 #include <pulse/simple.h>

[2017-09-09 23:55] jklnz commented on #80
have you installed pulse audio?

[2017-09-10 14:53] DaZeller commented on #80
Yes.

`:~$ sudo apt install pulseaudio
Paketlisten werden gelesen... Fertig
Abhängigkeitsbaum wird aufgebaut.
Statusinformationen werden eingelesen.... Fertig
pulseaudio ist schon die neueste Version (1:10.0-1ubuntu2).
0 aktualisiert, 0 neu installiert, 0 zu entfernen und 0 nicht aktualisiert.
`

[2017-09-10 14:53] cintema commented on #77
Hello, I only wonder if my request was so obscure that nobody even declined it within a week :-(
Does nobody have at least a thought about DStar here?

[2017-09-10 20:13] bertinholland opened #81 "FLEX Timeout approx 20 till 30 times a day"
@Zanoroy

**Case:**
Approx 20 till 30 times a day I will see a timeout in de debug dump (-v 3).
In the same second the message LOCKED appears.

**Example:**
See attachment p2000dump line 622
2017-09-10 21:46:12: FLEX: Timeout
2017-09-10 21:46:12: FLEX: Locked

**Attachment**
See below  radio.raw
See below p2000dump.txt (Line 622)

**Capture command**
 rtl_fm -f 169.65M -M fm -s 22050 -p -1 -g 40 -

[2017-09-10 20:45] Cholens commented on #81
Try This "rtl_fm -A fast -f 169.65M -M fm -s 22050 -p -1 -g 40 -E dc -F 0 | tee radio.raw| multimon-ng -a FLEX -t raw /dev/stdin -v 3 --timestamp > /home/pi/p2000/output/p2000dump.txt"

[2017-09-10 21:25] cintema commented on #80
You probably need the pulseaudio-dev package as well.

[2017-09-10 21:41] Zanoroy commented on #81
It's quite normal for the timeouts. I'm attempt an explanation below, if
you need more I can put together an image to help demonstrate what is
happening.

Basically flex sends a preamble to help the reciever get in sink (a lock)
before sending the data packets. While the pager/pc is attempting to lock
the it can see the preamble as having too many crossovers (passing between
positive and negative

[2017-09-11 14:52] bertinholland commented on #81
@Zanoroy Thanks for your explanation. I would appreciate if you publish an image to help demonstrate what is hapening. Thanks in advance.

[2017-09-12 14:53] bertinholland commented on #81
@Zanoroy I have a suggestion to change the message "Timeout" to "Adjusting phase - attempt to lock".

[2017-09-12 20:55] Zanoroy commented on #81
Yeah, I've be thinking the same. I'm actually away at the moment so I need
to find the time to get online..

On Wed, 13 Sep. 2017, 01:26 bertinholland <notifications@github.com> wrote:

[2017-09-13 05:58] NaveenVP opened #82 "Multimon-ng tool couldn't decode DTMF"
Dear Friend,

![outputrecording](https://user-images.githubusercontent.com/31725858/30361653-d58f2128-9875-11e7-90b5-59657d65aac2.png)
![audacitysample](https://user-images.githubusercontent.com/31725858/30361655-d931738a-9875-11e7-96bf-e210a7e20ad2.png)
[testhere.wav.zip](https://github.com/EliasOenal/multimon-ng/files/1298343/testhere.wav.zip)

We have an issue as we are unable to decode particu

[2017-09-15 04:23] bertinholland commented on #81
@Cholens thanks for your suggestion to add the option -A fast The results are good and the timeouts disappeared.

[2017-09-16 17:50] joper112 commented on #63
Hi @Zanoroy everything workes fine!

Dan you help me to change the time to Amsterdam time? I forgot how to do it... ); @jklnz Said he knows how it works. Can one off you help me one more time🙂🙂

[2017-09-16 21:50] czenzel opened #83 "Integration of SDL2 Hardware Audio"
Hello everyone,

I just wanted to make a feature request here and say that I am already working on this feature. I am trying to currently integrate SDL 2 as a hardware audio input into multimon-ng. You can see the progress at my GitHub fork (https://github.com/czenzel/multimon-ng).

I will create a pull request when it is ready. I will assign this issue to myself and let everyone know when its rea

[2017-09-17 09:39] jklnz commented on #63
You can do it by changing the lines in demod_flex.c that say:
 struct tm * gmt=gmtime(&now);
to
 struct tm * gmt=localtime(&now);

[2017-09-18 04:47] NaveenVP commented on #82
Or we would at least like to know what kind of standard or type of signal it is ?.

[2017-09-19 13:35] marshyonline commented on #69
Not just you, I am also getting this.

[2017-09-20 23:11] ryaneastland commented on #69
I've worked out it's something to do with the charset that multimon is using so just do a find/replace for the incorrect letters

[2017-09-23 09:44] DanielO commented on #70
I tried UDP  ncat and socat - same result.

I tried TCP socat - same result.

This is very weird :(

[2017-10-08 13:21] bertinholland opened #87 "FLEX bug group message is not always correct split up (timeout setting is too low)"
**CASE**
Approx 1% of the group messages there is no split-up because there is a timeout in the **_short instruction_** frame.
@Zanoroy Can you please reply? I would appreciate.

**TESTSCENARIO/EXAMPLE**
[radio.20171008123001-multimondump-WITHbug.txt](https://github.com/EliasOenal/multimon-ng/files/1366887/radio.20171008123001-multimondump-WITHbug.txt)

In cycleno 9 and frameno 115 you can see a t

[2017-10-08 13:41] #81 closed

[2017-10-09 06:33] bertinholland commented on #87
After 24 hour testing.
Network type 1600/2/A
I investigate that flex->Demodulator.timeout>90 works fine to split up all groups messages.

So I suggest to change the code demod_flex.c
[code]
to change to

[code]

When the periods with no zero crossing is 90 I receive all groups messages and split-it works fine.

My test scenario is still in progress (for 1 week) with productio radio data to check i

[2017-10-09 06:40] Zanoroy commented on #87
Honestly, it depends on your receiver + antenna ect.. And I didn't have any
multi messagee flex data to test with.  The higher the value the more
possibility of false lock identification but I haven't seen any running up
to 100 zero crossings.

On Mon, 9 Oct. 2017, 17:03 bertinholland, <notifications@github.com> wrote:

[2017-10-09 07:22] bertinholland commented on #87
@Zanoroy
I have add an attachment to test  with and it illustrate the issue of not splitting up group messages (10 or 20 times a day approx). Cycle 9 frame 115. This message is not split up (timeout).

[Radiofile-withgroupsplit-issue89.raw.zip](https://github.com/EliasOenal/multimon-ng/files/1367748/Radiofile-withgroupsplit-issue89.raw.zip)

[2017-10-11 17:31] John23579 opened #88 "Weird pager signal"
[code]
used this command:
[code]

[2017-10-16 00:09] EliasOenal commented on #83
I'm looking forward to this. SDL should really help with audio support on different platforms.

[2017-10-16 00:14] EliasOenal commented on #69
I'm still waiting for someone to implement this, without completely breaking support for the German charset. Please see: https://github.com/EliasOenal/multimon-ng/pull/65

[2017-10-16 00:26] #80 closed

[2017-10-16 00:27] #61 closed

[2017-10-16 00:29] #30 closed

[2017-10-16 00:32] #54 closed

[2017-10-16 00:37] #42 closed

[2017-10-16 00:41] #43 closed

[2017-10-16 00:45] EliasOenal commented on #26
Is this still an issue?

[2017-10-16 00:51] #74 closed

[2017-10-16 00:52] #79 closed

[2017-10-16 00:55] #38 closed

[2017-10-16 00:56] #53 closed

[2017-10-16 00:57] EliasOenal commented on #44
Please provide the samples.

[2017-10-16 00:57] #41 closed

[2017-10-19 07:23] bertinholland commented on #87
I have raised the timeout to 100.  The test has run for 7 days and 100% of the short instruction frames is fine. Zero timeouts. And all pager messages are received 100% (I have checked it with pdw). The receiving radio signal is very good. No messages lost. Zero lost synchronisation. Zero invalid offsets.

- I think when there is a short message frame (group message) the timeout setting 50 is too

[2017-10-19 09:03] Zanoroy commented on #87
I'll do the same on my end and if the is the same result I'll update my
version and put in a pull request.

On Thu, 19 Oct. 2017, 17:53 bertinholland, <notifications@github.com> wrote:

[2017-10-20 12:53] #78 closed

[2017-10-20 12:54] jklnz commented on #78
This has been fixed

[2017-10-28 07:07] bertinholland commented on #87
@Zanoroy What are the results of your tests? Are the results good?

[2017-12-07 15:56] dmitryelj opened #90 "Raspberry Pi cmake error"
Hi,

Thanks for the cool product.

I've got a error when compiling multimon-ng on the Raspberry Pi using cmake:
sudo make install
Error here: make: *** No rule to make target 'install'.  Stop.

[2017-12-08 14:26] EliasOenal commented on #90
[code]

I can't reproduce the issue on OSX.

[2017-12-10 10:36] grinsekatze003 opened #91 "Issues using tee"
Hi guys,

I‘m struggling to get multimon-ng to work using tee.

This works perfectly fine and detects all alarms:

    rtl_fm -f xxx -M fm -s 22050 | multimon-ng -a ZVEI -f alpha -t raw /dev/stdin -

while using the following code only some alarms get through, the other ones are unnoticed:

rtl_fm -f xxx -M fm -s 22050 | tee >(cat /dev/null) | multimon-ng -a ZVEI -f alpha -t raw /dev/stdin -

Can

[2017-12-14 12:38] grinsekatze003 commented on #91
Any ideas? @EliasOenal

[2017-12-15 17:54] EliasOenal commented on #91
I think this is a duplicate of https://github.com/EliasOenal/multimon-ng/issues/70. Sadly I don't know the cause of it.

[2017-12-17 08:06] bertinholland commented on #87
@Zanoroy  Can you please do a pull request with the change you see below. I have changed 50 to 100 and all groupmessages were split up correctly (60 days testrun). Can you please change the code to 100 and do a pull request? Thanks!

/*Time out after 100 periods with no zero crossing*/
		flex->Demodulator.timeout++;
		if (flex->Demodulator.timeout>100) {
			verbprintf(1, "FLEX: Timeout\n");
			fle

[2017-12-17 17:15] joper112 commented on #87
Bert kan je mij vertellen wat je veranderd hebt in het verleden, ik zie dat veel nog met 1 capcode wordt gedecodeerd i.p.v. de losse groupmessages

I sakes Bert in dutch hwhat hè change D in history to get iT working

[2017-12-17 19:43] Zanoroy commented on #87
I'll need to roll back the latest check in, and then implement your
change.. Before creating the change request.

On Mon, 18 Dec. 2017, 03:45 joper112, <notifications@github.com> wrote:

[2017-12-17 22:15] Zanoroy commented on #87
@joper112 : thanks, I think I have captured the changes, but it will be great to get confirmation (Unfortunately, I am a typical Australian and only speak English - Australian English and enough Spanish to order breakfast and coffee 👍)

@bertinholland : I have modified my version, located at: https://github.com/Zanoroy/multimon-ng could you please pull my version and test.

Background: I had attem

[2017-12-18 10:59] joper112 commented on #87
@Zanoroy i pulled the latest version from https://github.com/Zanoroy/multimon-ng i start some testing! You guys are so good!

[2017-12-22 00:05] bertinholland commented on #87
@Zanoroy Thanks. Testing starting. After a few days running I will report the results.

[2017-12-25 08:13] bertinholland commented on #87
@Zanoroy
Testrun is finished.
Tested objed: demod_flex.c Version 0.8.6v (18 Dec 2017)

Tustrun 104 hours (emmergency service production network Holland Flex/1600/2/A).
All 30147 pages were correctly split up.
0 Invalid offsets
0 Errors
0 Corruptions
0 Lost sync
0 Timouts

Testresult is 100% good.
Code is ready to be integrated in the base release EliasOenal.
Can you please start a pull request.

T

[2017-12-25 08:57] Zanoroy commented on #87
I'm away on Holidays, when I get back to a pc I'll create the pull request,
thanks for the testing.

On Mon, 25 Dec. 2017, 19:13 bertinholland, <notifications@github.com> wrote:

[2017-12-25 20:58] bertinholland commented on #87
Pull request #92 opened 11 hours ago by Zanoroy  (Various Fixes)
Waiting for integration in base release EliasOenal

[2018-01-03 10:38] bertinholland commented on #87
Various Fixes
Pull request #92 by Zanoroy was merged a day ago
is integrated in the EliasOenal master branch.

Test in progress for the master brancg EliasOenal.
After a few days I will report the results. When 100% good I will close this issue 87.

[2018-01-06 09:26] bertinholland commented on #87
After 3 days the results are 100% good in the master branch EliasOenal (pull request #92).
@Zanoroy thanks for the implementation of this change.
Issue closed.

[2018-01-06 09:26] #87 closed

[2018-01-11 00:47] WizRd0 opened #93 "Truncated pages"
I'm tempted to think this is related to the page being sent and not what i'm able to decode, specifically line 5.

This seems to be a fairly consistent truncation for Unconscious to Unconsciou, there are several other examples i've seen over the last few weeks.  I'm piping the audio using the command "rtl_fm -f 148.812M -l 48 -s 22.05k | multimon-ng -t raw -a FLEX -f alpha -b 0 -v 4 /dev/stdin".

[2018-01-13 00:42] abirger opened #94 "Broken EAS decoding in v1.1.4"
I've tried multimon-ng v1.1.4 on Raspberry Pi (Raspbian 8 (jessie)), and ASUS Tinker Board (TinkerOS 2.04). EAS decoder does not work in that version anymore. Versions 1.1.3 and older are working OK.

[2018-01-15 09:35] EliasOenal commented on #94
Please confirm if my commit fixed the issue for you.

[2018-01-16 16:34] abirger commented on #94
Yes, it works now. Thank you.

BTW, I assume that running 'miltimon-ng' without parameters should be the same as 'multimon-ng -h'. Is that assumption correct? So far, I get the following when run just 'multimon-ng' with no parameters (endless flow of numbers stops only with Ctrl-C):

[code]
It happens with any version. However, with at least one parameter (e.g. '-h') it works flawlessly.

[2018-01-17 07:59] jklnz commented on #94
that is because by default is loads the scope demodulator which outputs all those numbers

[2018-02-08 22:44] rob0101 opened #95 "-a FLEX dropping first character of some message on regular basis"
I have access to a couple of hardware based decoders that I'm able to compare the output with and notice the first character of some messages is dropped by multimon-ng

e.g.

Good:
1900253 | THIS IS A TEST PERIODIC PAGE SEQUENTIAL NUMBER  7557
1900253 | THIS IS A TEST PERIODIC PAGE SEQUENTIAL NUMBER  7557
1900253 | THIS IS A TEST PERIODIC PAGE SEQUENTIAL NUMBER  7557

Bad:
1900253 | THIS IS A TEST

[2018-02-08 23:01] rob0101 commented on #93
That's how the message was sent.  The sender abbreviates it.

This site shows it as it was sent:  https://www.cfsscan.com/search/Unconsciou
Mine does post-processing to make it more readable:   https://sapaging.com/live?type=Unconsciou

They are standard terms, so easy to map after they have been decoded.

[2018-02-10 07:29] rob0101 commented on #95
Interesting that this message, sent to two capcodes got the first character chopped for both..

1916082 | V126 PR: 8 - : @VHL VICTOR HARBOR 313 L 1 D00755 Disp: 17:36 TRANSFER
1916082 | V126 PR: 8 - : @VHL VICTOR HARBOR 313 L 1 D00755 Disp: 17:36 TRANSFER
1916082 | 126 PR: 8 - : @VHL VICTOR HARBOR 313 L 1 D00755 Disp: 17:36 TRANSFER

1916084 | V126 PR: 8 - : @VHL VICTOR HARBOR 313 L 1 D00755 Disp:

[2018-02-10 22:22] rob0101 commented on #95
Reverting to a version of parse_alphanumeric() from June seems to clear this problem. The rewrite of it has introduced problems.

I would also like this to be considered..

 static void parse_alphanumeric(struct Flex * flex, unsigned int * phaseptr, char PhaseNo, int mw1, int mw2, int flex_groupmessage) {
        if (flex==NULL) return;
        verbprintf(3, "FLEX: Parse Alpha Numeric\n");

[2018-02-11 01:44] jklnz commented on #95
@rob0101 Yeah I like your idea of printing the frag and cont statuses, I have modified PDW to do that so I can better post process messages. By printing them out we atleast allow whatever program is using the data to be able to combine messages better.

[2018-02-11 11:35] rob0101 commented on #95
I looked at using pdw years back and was put off by the half-arsed attempt at dealing with fragmented messages.  Nothing worse than discarding useful information that can't be rediscovered later.

[2018-02-11 21:23] jklnz commented on #95
Yeah I agree there, I had to modify PDW to get it to output the information. Unfortunately I haven't been able to get as high decode percentage using any other apps than I do on PDW.

[2018-02-11 22:19] rob0101 commented on #95
Interesting.  I'm seeing near 100% with this new setup, and that's with the system and 6" antenna in a cupboard.  I found a sweet spot for the antenna and it's happiest pointing sideways instead of upwards.  Move it 20cm and it misses lots.

I did notice that with the current demod_flex.c some messages did go astray, probably due to the loss of bytes here and there.

My hardware decoder is pretty

[2018-02-12 00:16] jklnz commented on #95
That is very interesting, I might give multimon another go and see if it has improved. I dont know if this might make it worse but our network also transmits POCSAG512/1200 messages on the same frequency.

Haha yeah I have the same things with the antennas, they like to be in one place only.

Which SDR device do you use?

[2018-02-12 00:55] rob0101 commented on #95
@jklnz  - don't use the current version of parse_alphanumeric() in demod_flex.c it could mess things up.

this is the one I'm using:
<pre>
static void parse_alphanumeric(struct Flex * flex, unsigned int * phaseptr, char PhaseNo, int mw1, int mw2, int flex_groupmessage) {
        if (flex==NULL) return;
        verbprintf(3, "FLEX: Parse Alpha Numeric\n");
        int frag;
        int cont;

[2018-02-12 01:26] jklnz commented on #95
Thanks for that @rob0101 I will give that a try tonight. Yeah I think you might be right with that, but we'll see.

[2018-02-13 05:14] jklnz opened #96 "Windows version not building"
I tried to build this in Windows 7 Mingw32, however I could not get it to compile because demod_x10.c was including <sys/wait.h> and <sys/resource.h> and these could not be found.
I was able to compile by commenting those two files, so not sure if those headers are still needed? If they are maybe a conditional needs to be put on them.

[2018-02-17 12:52] jklnz commented on #96
Issue fixed by merge, closing.

[2018-02-17 12:52] #96 closed

[2018-02-18 02:06] abirger commented on #94
@EliasOenal , while compiling the updated version 1.1.4, I noticed the following warnings:

[code]

I am by no means a subject matter expert in C++, so I can't tell if these warning are important or not; however, there were no such warnings before the fix.

[2018-03-12 10:00] hagensieker opened #98 "Scope doesn't work in 16.04.4"
I had an Ubuntu box with 16.03 and SCOPE worked just fine.  Did a fresh install of 16.04.4 and SCOPE is just a white box with no signal displayed.  I figured it was me, or something I did, however I installed the latest Skywave Linux, based on Ubuntu 16.04 and SCOPE doesn't work there either.  In the interim I just left out -a SCOPE and to be honest I just minimize it anyway but just wanted to men

[2018-03-20 17:52] abirger opened #99 "Randomly misses EAS headers"
I've noticed that `multimon-ng` randomly skips EAS headers or EOMs while processing a recorded audio. It seems that with elevated verbose mode switch (e.g. `-v 1`), `multimon-ng` generally detects and prints out every single header code. However, from time to time it skips just one header or EOM code, like in the following example:

[code]
I verified that the source audio file actually contained t

[2018-03-20 21:11] abirger commented on #99
One more question: as far as I understand from the `demod_eas.c` sources, the decoder does not look for a message/EOM preamble (i.e. unsigned char 0xAB) although a PREAMBLE variable is defined; instead, it looks directly for the beginning of the message header (ZCZC) or EOM (NNNN). Why is that? Although a substring like header or EOM does not meet too often, the repetitive (16 bytes) preamble may

[2018-03-21 15:32] EliasOenal commented on #99
Regarding the random behaviour, could you convert your recording to "raw" and try again? (e.g. sox -t wav sample.wav -esigned-integer -b16 -r 22050 -t raw) multimon-ng internally uses sox for type conversion and we had similar behaviour with sox applying random dithering before.

[2018-03-21 16:10] abirger commented on #99
I recorded audio with Audacity, and then exported it in both WAV and RAW format. And then I ran it through multimon-ng using the following command:

[code]

Actually, I tried many variations - feeding "multimon-ng" in real time with "arecord" and "rec" on Raspberry Pi with and without "sox" conversion and various buffering, recording with Audacity on Windows machine, and then processing the record

[2018-03-22 12:44] EliasOenal commented on #99
This indeed sounds like a bug in the EAS decoder then. I just wanted to make sure since back when I tried debugging a similar issue with POCSAG it turned out to be the sox resampling.

[2018-03-22 18:21] abirger commented on #99
@EliasOenal , I noticed a pretty strange thing the last time I tested `multimon-ng`. I have a multi-hour record of the incoming audio that I've done on a Windows laptop. Being fed to the decoder it produces multiple random code dropouts regardless of the `multimon-ng` version (I tried all from 1.1.1 to 1.1.4) and the test computer (Windows with older version or Raspberrypi with the newest one). Th

[2018-03-27 21:45] eoineoineoin commented on #98
I noticed the same thing and have submitted pull request #100

[2018-03-31 21:13] bertinholland opened #101 "Bug flex: Wrong split up group message after a data corruption frame."
@Zanoroy

**_Situation (see detailed logfile below, at the end):_**
Frame 113 cycle 00 contains 2 short instructions for cap codes  [001420999] and  [001420014].
In the next frame 114: Phase A Data corruption - Unable to fix errors.
In frame 114 because there is data corruption, its not possible to decode the group message (off course)

But what's happening a minute later ( cycleno=01 frameno=016)

[2018-04-02 05:59] bertinholland commented on #101
# **_Second example_**

2018-04-01 10:46:53: FLEX: SyncInfoWord: sync_code=0x870c baud=1600 levels=2 polarity=POS zero=-0.033185 envelope=0.110661 symrate=1568.907487
2018-04-01 10:46:53: FLEX: State: FIW
2018-04-01 10:46:53: FLEX: FrameInfoWord: cycleno=11 frameno=102 fix3=0x3c time=47:11
2018-04-01 10:46:53: FLEX: State: SYNC2
2018-04-01 10:46:53: FLEX: State: DATA
2018-04-01 10:46:53: FLEX: Blo

[2018-04-02 07:25] Zanoroy commented on #101
@bertinholland thanks for the info. I'll have a look at it (probably tomorrow if I can get the time) and let you know how I go with the fix.

It will be interesting to see what happens when the group message is split over 3 or more frames and a middle message is corrupt. The decoder isn't really "state full", so to handle this it will need some thinking and a little re-design.

Let me see what I c

[2018-04-02 18:14] EliasOenal commented on #98
@eoineoineoin Thanks for the fix!

[2018-04-02 18:14] #98 closed

[2018-04-02 18:18] bertinholland commented on #101
@Zanoroy

I have done some research and I didn't find a group message split over 3 frames. The maximum count I found  is 21 short messages in a group. The short instruction is in 1 frame. The group message output is also in 1 frame.

This shows an example of a "21-count-group-message-output" (maximum is 2 frames I found):

2018-03-30 09:50:14: FLEX: FrameInfoWord: cycleno=12 frameno=081 fix3=0x00

[2018-04-02 18:18] EliasOenal commented on #83
Any updates?

[2018-04-05 06:18] bertinholland commented on #101
# Example: group message split up over 3 frames, corruption middle frame, wrong split u

@Zanoroy

**Short discription**
- Frame 49 short instructions (group bit 0 [001220611] [001220499] (index 1,2)   , group bit 1)
- Frame 50 Phase A Data corruption - Unable to fix errors.
- Frame 51 Group message output (group bit 1)
- Frame 72 add short instruction to Group bit 0 [001420999] [001420155] (index

[2018-04-09 16:09] abirger commented on #99
Found one error in `demod_eas.c`: in `static char eas_allowed(char data)`, instead of ***` if (data >= 32 || data <= 126)`*** must be ***` if (data >= 32 && data <= 126)`***; otherwise, absolutely any symbol is allowed.
That replacement helps to decrease the number of missed codes; however, does not seem to completely eliminate the issue.

[2018-04-11 01:33] Zanoroy commented on #95
Guys,
     I have only just seen this (I didn't receive a notification that the issue was raised). I'll have a look at the cause and fix it up in the master rep, I think it was introduced with the group message handling.

If you find issues in the flex I can normally be notified if you include an @zanoroy in the issue..

Cheers

[2018-04-11 01:41] Zanoroy commented on #101
@bertinholland I am looking into this, but a previous change introduced another bug where characters are being dropped. I need to fix that first to ensure future changes don't break group messaging.

but I am working on it.

[2018-04-11 02:37] Zanoroy commented on #93
That's actually a SACAD issue used within South Australia (SAGRN) and nothing to do with the decoding.

[2018-04-11 02:39] Zanoroy commented on #95
@rob0101
     Ok, I have rolled back the for loop in the latest version (with the chopped character) to the previously used loop (without the chopped character) I have tested it with the recordings I have, but I have limited recording that would show the issue and am not in position to sniff the SAGRN as you are using.

Also I implemented the K, F and C frag flags you introduced into the base vers

[2018-04-11 03:36] rob0101 commented on #95
@Zanoroy - the output is bad ..

FLEX: 2018-04-11 03:32:13 1600/2/K/A 08.007 [001900253] ALN THIS IS A TEST PERIODIC PAGE SEQUENTIAL NUMBER  5700
FLEX: 2018-04-11 03:32:19 1600/2/K/A 08.010 [001900159] ALN mhs-watchdog 180411130215AGE SEQUENTIAL NUMBER  5700
FLEX: 2018-04-11 03:32:51 1600/2/K/A 08.027 [001925618] ALN PF89 PR: 8 - : @LMH ELIZABETH VALE 61 N 11 D00604 Disp: 13:02 Discharge
FLEX: 201

[2018-04-11 03:41] Zanoroy commented on #95
@rob0101 thanks for the fast response.

Any chance you could capture some of that data (the raw audio) and upload it for me to debug with please?

I am in Adelaide at the moment but I don't have my receiving rig setup.

[2018-04-11 03:47] Zanoroy commented on #95
@rob0101 Hey,
      Damn, I see what I did. I didn't null terminate the message array and therefore the messages are messed up.

Shoot me a PM to zanoroy@gmail.com and I can give you my number if you want to have a chat.

[2018-04-11 03:56] Zanoroy commented on #95
I have fixed the missed null terminator and uploaded the code. I have managed to capture some raw data and am currently continuing to test.

if you grab the latest copy it should have addressed the issues.

cheers

[2018-04-11 04:06] rob0101 commented on #95
@Zanoroy ha, no problem.  Looks fixed now.

I'll monitor it for a few hours and let you know.

I'm comparing it against 2 other PIs and a hardware decoder. Look clean and consistent so far.

[2018-04-11 06:25] rob0101 commented on #95
No issues to report with this version.

thanks

[2018-04-11 06:29] Zanoroy commented on #95
Awesome, sorry I hadn't seen the  issue earlier.

Cheers

On Wed, 11 Apr. 2018, 15:55 Rob, <notifications@github.com> wrote:

[2018-04-15 22:01] Zanoroy commented on #101
Morning Bert,
It's complex in the fact that if group identified cannot be decoded it's
difficult to clear out the relevant  data.

I could really use some test data, are you able to record your radio so I
can see the problem first hand and that will let me debug it closely.

Kind regards
Zanoroy (Bruce)

On Mon, 16 Apr. 2018, 03:49 bertinholland, <notifications@github.com> wrote:

[2018-04-16 08:07] bertinholland commented on #101
Goodmorning,

I am producing radio data now (24hr a day) till I captured the issue scenario.
Bert

[2018-04-17 15:06] bertinholland commented on #101
@Zanoroy

Attached files (at the end of this message):
- radio raw file: radio.issue101.20180417133001.raw
- decoded file with issue 101: radio.issue101.20180417133001.txt

**_Scenario:_**

_**Decode statement**_
 cat radio.issue101.20180417133001.raw |  multimon-ng -a FLEX -t raw /dev/stdin -v 3 --timestamp >> /home/pi/p2000/output/radio.issue101.20180417133001.txt

2018-04-17 16:56:24: FLEX: Fra

[2018-04-17 22:18] Zanoroy commented on #95
@rob0101 if you are happy could you please close this issue.

[2018-04-17 22:19] Zanoroy commented on #93
@WizRd0 could you please close this issue.

[2018-04-17 23:32] #95 closed

[2018-04-18 12:14] #93 closed

[2018-04-19 05:33] bertinholland commented on #101
@Zanoroy

Goodmorning,

Okay fine. Let me know if you need an extra radio file. I'm also available to do testing after you fix the problem. Have a nice day.

[2018-04-21 08:15] bertinholland commented on #101
Reference Guide information
![knipsel](https://user-images.githubusercontent.com/31294135/39082045-decd3bba-454c-11e8-91af-8f4650202b2b.JPG)

[2018-04-21 08:38] Zanoroy commented on #101
@bertinholland Thanks for that, I have had a look at the code and your idea will work fine. If the group frame is either corrupt or missed completely, I can just remove the group bit reference. I have started the modifications and some testing, I will have something to you by Monday afternoon I hope.

[2018-04-24 06:13] moorer2k commented on #90
I made an automated installation script for getting RTL-SDR/Multimon-ng/Pagermon working on a fresh dietpi install, it should work fine on other PI distros also.

https://gist.github.com/moorer2k/b29fa54948a19f6e70df30cb8b3fd6cc

Try that.

[2018-05-04 18:29] modezz opened #103 "4L-FSK Demod"
would it be possible to to add 4 Level FSK Demodulator?

thanks in advance

[2018-05-12 08:36] bertinholland commented on #101
@Zanoroy Goodmorning Bruce, Thanks for started the modifications 3 weeks ago. Nice. Can you let me know a status update / progress? That would be nice. Thanks in advance. Greetings for Spain.

[2018-05-14 22:33] Zanoroy commented on #101
Sorry, I'm currently working remotely so I haven't completed my testing.

On Sat, 12 May 2018, 18:07 bertinholland, <notifications@github.com> wrote:

[2018-05-21 02:40] Zanoroy commented on #101
@bertinholland
Ok, I have uploaded the fix to my 'pull' the file you need is [demod_flex.c](https://raw.githubusercontent.com/Zanoroy/multimon-ng/master/demod_flex.c). please download it, compile and test.

Let me know how it goes, I have tested using your supplied Radio 101 data and all worked well.

Things to note: I changed the sync settings, so getting a "Lock" works faster. Of course you may

[2018-05-21 02:42] Zanoroy commented on #101
If you are happy with the fix let me know and we'll get it pulled into EliasOenal's master branch.

[2018-05-21 07:48] bertinholland commented on #101
@Zanoroy
Thanks for version 0.8.9
Testing has started.

Also this week a will rerun the regression test for the backuped raw data  set.

Minor remark, 5 compile warnings in make phase:

../demod_flex.c:1242:41: warning: iteration 17 invokes undefined behavior [-Waggressive-loop-optimizations]
        flex->GroupHandler.GroupCycle[g] = -1;
[code]

[2018-05-21 10:50] bertinholland commented on #101
@Zanoroy

First impression (10% of the whole regression set test) has passed, results look good.

In a few cases the message "FLEX: Phase A Data corruption - Unable to fix errors." disappears and that is wonderful. Decoding is now succesful.

It looks like
#define PHASE_LOCKED_RATE    0.150         // Correction factor for locked state
#define PHASE_UNLOCKED_RATE  0.150         // Correction facto

[2018-05-21 18:00] bertinholland commented on #101
@Zanoroy

* All sets raw files regression test has successful passed. Great!

Request, the output is now:

2018-05-21 19:39:36: FLEX: FrameInfoWord: cycleno=09 frameno=125 fix3=0x3c time=39:54
2018-05-21 19:39:36: FLEX: State: SYNC2
2018-05-21 19:39:36: FLEX: State: DATA
2018-05-21 19:39:36: FLEX: BlockInfoWord: (Phase A) BIW:00001806 AW:01-06 (5 pages)
2018-05-21 19:39:36: FLEX: CAPCODE:000000000

[2018-05-21 22:32] Zanoroy commented on #101
@bertinholland
I have created Version 0.9.0v (22 May 2018) of the flex demod file ([demod_flex.c](https://raw.githubusercontent.com/Zanoroy/multimon-ng/master/demod_flex.c)).
  - Added Define at top of file to modify the way missed group messages are reported in the debug output (default is 1; report missed capcodes on the same line)

## Default
`REPORT_GROUP_CODES   1`

Output is:
**FLEX: Group m

[2018-05-22 09:09] bertinholland commented on #101
@Zanoroy
Thanks.

- Version 0.9.0v is now in test.

- test possitive , fixed:
../demod_flex.c:1242:41: warning: iteration 17 invokes undefined behavior [-Waggressive-loop-optimizations]
flex->GroupHandler.GroupCycle[g] = -1;
^
../demod_flex.c:1239:3: note: within this loop
for(int g = 0; g < 18; g++)
^~~

- REPORT_GROUP_CODES 0 is in test

Testresult later this week. Is in progress.

[2018-05-22 11:26] bertinholland commented on #101
REPORT_GROUP_CODES 0 works fine!

2018-05-22 10:51:31: FLEX: Group messages seem to have been missed; Groupbit: 0; Clearing data; Capcode: [001423393]
2018-05-22 10:51:31: FLEX: Group messages seem to have been missed; Groupbit: 0; Clearing data; Capcode: [001423001]
2018-05-22 10:51:31: FLEX: Group messages seem to have been missed; Groupbit: 0; Clearing data; Capcode: [001420999]

[2018-05-25 06:18] bertinholland commented on #101
REPORT_GROUP_CODES 1 works fine version 0.9.0v!

2018-05-25 07:11:40: FLEX: Group messages seem to have been missed; Groupbit: 0; Total Capcodes: 2; Clearing Data; Capcodes: [000120998],[000120097]

[2018-05-27 18:51] bertinholland commented on #101
Merged #104 in de Elias release.
Integration test started.

[2018-05-28 13:08] bertinholland commented on #101
Integration test completed.
Result is fine!
Thanks!

Cheers.

[2018-05-28 13:08] #101 closed

[2018-07-01 12:42] grinsekatze003 opened #107 "Wrong ZVEI detected"
Hello,
I‘ve experienced a strange problem lately. I‘m using multimon-ng with Boswatch and it has happened twice that Boswatch reports the sent ZVEI ‚23282‘ as ‚23232‘. Luckily I‘m saving the raw output of multimon into a file for debugging purposes. In fact multimon reported the ZVEI as:

   ZVEI1: 2323282

I do not have any signal problems or problems with missing ZVEIs. Also the fact that multim

[2018-07-03 17:37] weinholt opened #108 "License issues with FLEX decoder"
While preparing to package multimon-ng for Debian, I stumbled upon an issue with the licensing of two files:

* demod_flex.c
  This file says "Adapted from GNURadio for use with Multimon". However, the original Free Software Foundation copyright notice is missing. The original file in GNU Radio appears to be gr-pager/lib/flex_sync_impl.cc. The license also says GPL version 2 or later, but if the F

[2018-07-12 00:31] ScanCaster opened #109 "Feature Request: 2 Tone/SECODE/HSC/Plectron/REACH Paging Decoding"
2 Tone(1+1) paging still predominantly used in FD alerting as well as the original QuickCall I which uses 2 sets of 2 tone pairs hence 2+2.

This would allow to duplicate the 2 tone feature some actual radios have: Minitor I to V, Director II, and some scanners, but this would allow SDR use via rtl_fm.

For a "hack" to multimon see:

http://www.qsl.net/kb9mwr/projects/pager/Two-Tone%20Pager%20Deco

[2018-07-24 16:39] EliasOenal commented on #108
It would be great if you could open a pull request restoring the copyright notice of demod_flex.c. I've also left Robert Morelos-Zaragoza a voice mail, though he will be out of office for a while.

[2018-07-24 16:41] #94 closed

[2018-09-30 20:05] Neoakb opened #111 "How to install qmake?"
I typed

`neonfire@miccatop:~/multimon-ng$ sudo qmake ../multimon-ng.pro
qmake: could not exec '/usr/lib/x86_64-linux-gnu/qt4/bin/qmake': No such file or directory
`

tried using apt-get install qmake, but it says not found. what am I missing?

thanks!

[2018-10-01 01:50] Neoakb commented on #111
nvm, figured it out

[2018-10-04 01:06] ifuchs opened #112 "Brew multimon-ng fails"
I am trying to use brew to install multimon-ng on a mac running high sierra. It is failing with the following:

__brew install --HEAD dholm/sdr/multimon-ng
==> Installing multimon-ng from dholm/sdr
==> Cloning https://github.com/EliasOenal/multimon-ng.git
Updating /Users/ihf/Library/Caches/Homebrew/multimon-ng--git
==> Checking out branch master
Already on 'master'
Your branch is up to date with '

[2018-10-05 02:07] ifuchs commented on #112
Problem resolved. This helped [http://techblahblog.blogspot.com/2017/02/are-you-running-configuremakemake.html](url)

[2018-10-12 22:54] #112 closed

[2018-10-12 22:54] #111 closed

[2018-10-12 22:56] EliasOenal commented on #108
I don't have any updates, but I recently thought about it as well. The code itself, while lacking proper attribution right now, is still under an open source license. It may not meet the FSF definition of free, but it's open source nonetheless. So the only issue after restoring the header would be GPL compatibility. At this point it wouldn't be a problem for source distributions of multimon-ng. Co

[2018-10-13 14:48] weinholt commented on #108
The combined work is under the GPL, which does not permit adding further restrictions such as those Robert Morelos-Zaragoza have placed on his BCH code, and not even Debian non-free will accept a work with such an inconsistent license arrangement.

However, the normal way to deal with this in Debian is to repack the upstream tarball to remove the non-free parts. One way forward is to have CMakeLis

[2018-10-17 11:33] EliasOenal commented on #108
The copyright header you restored mentions POCSAG, which had me have another look at our POCSAG decoder. It seems like we already have a GPL compliant implementation (at least the decoder part we need) of bch3121 over there.

[2018-11-04 21:52] christianschneider89 opened #114 "Last character not decoded when message is 80 chars with pocsag1200"
Hello

When a message is 80 characters long, multimon-ng sometimes does not decode/show the last character.
With other decoding tools the message is completly decoded with 80 chars.
Messages shorter than 80 characters are always decoded correctly by multimon-ng (no missing last character).

Chris

[2018-12-20 13:23] ScanCaster opened #115 "FLEX decode and rtl_fm Settings??????????????"
I use multimon-ng for POCSAG1200 decoding, works great, runs in the background and does what I want...

I need to add a FLEX monitor... so I've got the the latest FLEX version (sans the 07/18 update which is nothing but a non code license update)....

I've tried every setting I can think of to get Flex decoding as 100% as POCSAG... and no joy.

Same PC (not a PI!) Dual core D525TUN.. it runs sdrtr

[2018-12-25 13:22] Cholens opened #116 "Text is not fully displayed on the same line"
This often happens with many messages

![image](https://user-images.githubusercontent.com/31633832/50422997-d7f35d80-084f-11e9-8f60-417ec195a098.png)

[2018-12-25_10_00_01.bin](https://www.userver.nl/download/2018-12-25_10_00_01.zip)

[2018-12-25 14:39] bertinholland commented on #116
I have a detailed dump file about this issue. I see the same issue:

2018-12-25 11:05:52: FLEX: State: SYNC1
2018-12-25 11:06:15: FLEX: SyncInfoWord: sync_code=0x870c baud=1600 levels=2 polarity=POS zero=-0.031898 envelope=-0.185347 symrate=1597.607748
2018-12-25 11:06:15: FLEX: State: FIW
2018-12-25 11:06:15: FLEX: FrameInfoWord: cycleno=01 frameno=082 fix3=0x3c time=06:33
2018-12-25 11:06:15: FL

[2018-12-25 14:41] bertinholland commented on #116
@Cholens

The link in your message is now working:
Deze site is niet bereikbaar De webpagina op https://github.com/EliasOenal/multimon-ng/issues/2018-12-25_10_00_01.zip is mogelijk tijdelijk uitgeschakeld of permanent verplaatst naar een nieuw webadres

[2018-12-25 14:45] bertinholland commented on #116
I suppose it looks like it's a combination of decoding/parsing and fixing an error?

2018-12-25 11:06:20: FLEX: Phase A Fixed 1 errors @ 0x00000002 (0x591a5422 -> 0x591a5420)
2018-12-25 11:06:20: FLEX: Phase A Fixed 1 errors @ 0x00000002 (0x2fd3902b -> 0x2fd39029)

[2018-12-25 14:49] Cholens commented on #116
@bertinholland link fixed :)

[2018-12-25 20:12] bertinholland commented on #116
@Cholens Link is not working

https://github.com/EliasOenal/multimon-ng/issues/2018-12-25_10_00_01.zip

Deze site is niet bereikbaar De webpagina op https://github.com/EliasOenal/multimon-ng/issues/2018-12-25_10_00_01.zip is mogelijk tijdelijk uitgeschakeld of permanent verplaatst naar een nieuw webadres.
ERR_INVALID_RESPONSE

[2018-12-25 20:16] Cholens commented on #116
@bertinholland new link [2018-12-25_10_00_01.bin](https://www.userver.nl/download/2018-12-25_10_00_01.zip)

[2018-12-25 20:36] bertinholland commented on #116
I can download the bin file. But what kind of bin file is it. The file is not human readible and it's no zip file.

[2018-12-25 20:49] Cholens commented on #116
It is also meant for @Zanoroy he knows what to do with it

[2018-12-25 20:52] bertinholland commented on #116
Okay off course Zanaroy know all the details. But can you tell me what kind of binary it is ?

[2018-12-25 21:03] Zanoroy commented on #116
Hey gents, I'm sorry at the moment I am 3000km from my house and will not
be back for a week (Christmas in Australia is also our summer holiday
period)

I'll have a look at this ASAP (I do have my laptop so depending on my
family movements I may get a chance)

I have added BIW decoding to my version do either of you think it will be
useful?

BIW can contain timing information such as the date, tim

[2018-12-25 22:12] Cholens commented on #116
Maybe I can test it?

Zanoroy schreef op 2018-12-25 22:03:

[2018-12-26 22:35] Zanoroy commented on #116
Ok, that is not an error,
That is a message that is split over more than one Flex Frame.

Multimon-ng doesn't join messages back together it simply spits out any data within the frame.

What ever you are feeding the data into needs to recognise that split message and concatenate them together.

Cheers

[2018-12-26 22:46] Cholens commented on #116
Okay thanks for your time! I already know a solution for me :)

Zanoroy schreef op 2018-12-26 23:35:

[2018-12-26 22:47] Zanoroy commented on #116
you're welcome

[2018-12-26 22:56] #116 closed

[2018-12-26 23:05] Zanoroy commented on #115
When I open it in a Audicity I can see the preamble but the data is very very fast there after the 3200 bps its possible that its not being split into Symbols correctly which is why the output is dumping a lot of "Data corruption - Unable to fix errors" errror.

I'll have a play in a week or so once I'm off my holidays and see if I can confirm the issue.

Cheers

[2018-12-27 00:12] Zanoroy commented on #116
@Cholens

I know you have closed this issue but just as a heads up. In the header of hte demod_flex.c file it shows the following info:

 *     - Implemented Rob0101's suggestion of K, F and C flags to indicate the message fragmentation:
 *         'K' message is complete and O'K' to display to the world.
 *         'F' message is a 'F'ragment and needs a 'C'ontinuation message to complete it. Mes

[2018-12-27 00:18] Cholens commented on #116
Yes, I found that way tonight :) For you a nice holiday

Zanoroy schreef op 2018-12-27 01:12:

[2018-12-28 13:04] pyrog commented on #69
Hi,
Same issue with "french" charset.
[Swissphone pagers](https://www.pwservice.com/pdf_search/de900_de920_programming_manual.pdf) use the following charset:
* FTZ Germany
* US ASCII
* Norway / Danmark
* Switzerland
* Sweden / Finland
* Spain
* France
* Britain
* International
* Italy
* Slovenia

Tested with a **Swissphone DE700** pager set with French charset:
* Input of [rpitx/pocsag](https://gi

[2018-12-28 16:39] pyrog opened #117 "Documentation about skyper protocol"
This protocol don't seem to be documented anywhere on the internet?

multimon-ng seem "only" to shift all characters in `print_msg_skyper()` ([pocsag.c#L360](https://github.com/EliasOenal/multimon-ng/blob/master/pocsag.c#L360))
[code]
A new `--charset skyper` option could be fine to manage this with other charsets, see #65. 😀

According to [documentation](https://www.discriminator.nl/pdw/pdw-manua

[2018-12-28 17:17] pyrog commented on #69
According to [NZ Telepermit for pagers](http://www.telepermit.co.nz/PTC251.pdf), the POCSAG charset is [ISO 646](https://en.wikipedia.org/wiki/ISO/IEC_646#Code_page_layout) with **US / IRV (1991)** variant (**ISO-IR-006**).

All other variant are described in the [ISO/IEC_646 Variant comparison chart](https://en.wikipedia.org/wiki/ISO/IEC_646#Variant_comparison_chart).

According to [Decentralized

[2018-12-28 23:46] pyrog commented on #69
Variant | Code&nbsp;Chart | 24 | 40 | 5B | 5C | 5D | 5E | 5F |60 | 7B | 7C | 7D | 7E
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
US / IRV (1991) | ISO-IR-006 | # | @ | [ | \ | ] | ^ | _ | ` | { | \| | } | ~
DE | ISO-IR-021 | # | **§** | **Ä** | **Ö** | **Ü** | ^ | _ | ` | **ä** | **ö** | **ü** | **ß**
swi (NRCS) | CP01021 | **ù** | **à** | **é** | **ç** | **ê** | **î** | **

[2019-01-02 21:42] EliasOenal commented on #69
Thanks for posting that table. Would you be willing to change the default to US and implement a command line flag allowing the selection of the other charsets?

[2019-01-03 10:45] pyrog commented on #69
In [pocsag.c#L129](https://github.com/EliasOenal/multimon-ng/blob/master/pocsag.c#L129) we could use a simple `global trtab[128]` and remove the binary search.
So the `--charset` option "just" set the appropriate tab once…

[2019-01-03 17:24] EliasOenal commented on #69
Fine with me.

[2019-01-05 19:34] shutterfire commented on #69
Same error here but inverted.
German messages with Umlauts. Pager EuroBos Mars displays Ü, multimon_ng outputs '[' (open square bracket)

[2019-01-05 19:54] pyrog commented on #69
@shutterfire Do you have a technical manual for this pager with the charset(s) used?

Or could you send this test message with [rpitx](https://github.com/F5OEO/rpitx) ?
[code]

[2019-01-06 08:14] shutterfire commented on #69
Output of the pager:
``Test charset $§ÄÖÜ^_`äöüß``
Output of multimon_ng:
`Test charset $@ÄÖÜ^_`äöüß<NUL><NUL>`
The @ char is wrong, everything else is fine.

[2019-01-08 09:59] pyrog commented on #69
I don't add yet charsets for [EuroBos](https://www.eurobos.de/produkte/digitaleMeldeempfaenger), [Swissphone](https://www.swissphone.com/productcategory/pager/) and [TPL](https://tplsystemes.com/categories/3) pagers.

Should we add ?
* a charset option `tpl-DE`, `tpl-FR`, `eurobos-DE`, `eurobos-FR`…
* a config file to specify the "user" charset
* …

TPL seem to use the `FR (1973)` also called `ISO

[2019-01-09 14:00] pyrog commented on #69
Send characters from `0x00` to `0x1f` with the following script:
[code]
(Note: both pagers use the **french charset**).

* Swissphone pager display a `Whitespace character` except for `0x00` and `0x0A` as it end the message.
* TPL pager display the following characters:

Code | Char | Comment
--|--|--
0x00||**end of message**
0x01| |Whitespace character
0x02||**new line**
0x03|£|Pound sign
0x04|¯|

[2019-01-15 22:52] #69 closed

[2019-01-21 13:09] PimHaarsma opened #120 "Flex Tone-Only messages with short numeric body"
Hello,

The tone-only messages of FLEX could have a numeric body. Currently multimon-ng shows these messages only as "TON". On PDW and Pager it has a numeric message.

An example of tone-only, with numeric body: (it should be: 539).
[flex_tone_only_shortnumeric.zip](https://github.com/EliasOenal/multimon-ng/files/2778971/flex_tone_only_shortnumeric.zip)

Sorry, I'm not good in pull requests, so so

[2019-01-23 01:52] rob0101 opened #121 "demod_FLEX some message marked as 'NUM', probably should be 'ALN'"
A wipath Paging Data Receiver sees this message:

0400 123 456

which is an Aussie mobile phone number in the local preferred style.

demod_flex.c will present it as

0400123456

and marks the message as 'NUM'. From observation, 99.99% of messages on the SAGRN paging network are tagged as alphanumeric 'ALN', the rest are phone numbers that demod_flex.c tags as 'NUM'.

I haven't delved deep into th

[2019-01-23 01:57] rob0101 commented on #121
moving this to a similar issue.

[2019-01-23 01:57] #121 closed

[2019-01-23 01:58] rob0101 commented on #120
Just wrote this as a separate issue, but having seen this I think it's the same issue...

A wipath Paging Data Receiver sees this message:

0400 123 456

which is an Aussie mobile phone number in the local preferred style.

demod_flex.c will present it as

0400123456

and marks the message as 'NUM'. From observation, 99.99% of messages on the SAGRN paging network are tagged as alphanumeric 'ALN',

[2019-01-23 02:45] rob0101 commented on #120
FYI,  "123456" and "1234 56" are both 'FLEX_PAGETYPE_STANDARD_NUMERIC'  when sent over SAGRN.

[2019-01-23 03:39] ScanCaster commented on #120
If any one in these threads is using SDR's as their input source with rtl_fm as the input, I would very much appreciate getting input on your settings for rtl_fm and getting output from rtl_fm that multimon will decode Flex reliably.

Please post any input you have at:

https://github.com/EliasOenal/multimon-ng/issues/115

Thanks.

[2019-01-23 03:44] rob0101 commented on #120
This will fix the missing spaces. There's currently a deliberate check for spaces in the 'number' and they get skipped.

Doing this makes multimon-ng consisted with my Apollo pager and a wipath receiver.

`--- /tmp/demod_flex.c	2019-01-23 14:03:02.000000000 +1030
+++ ../demod_flex.c	2019-01-23 14:01:57.000000000 +1030
@@ -625,9 +625,9 @@
 			}
 			dw >>= 1;
 			if(--count == 0) {
-				if(digit !=

[2019-01-23 03:50] rob0101 commented on #115
Here's an example for calling rtf_fm with multimon-ng

`/usr/local/bin/rtl_fm -f 148812500 -s22050  | /usr/local/bin/multimon-ng -a FLEX -f alpha -t raw -`

148812500 is my local frequency of 148.8125MHz.

Make sure your SDR works in the frequency range you're listening to.  Some have wider ranges than others.

[2019-01-23 19:32] ScanCaster commented on #115
Receiving is not the issue.. SDR works for other protocols POCSAG1200, P25 PI 9600 CC, NBFM etc..

The issue is getting the right commands to rtl_fm

Your generic rtl_fm won't work even on my POCSAG1200 signals. Needs a PPM to start with the generic dongles. Example

tl_fm -d 1 -p 70 -g 49.6 -o 4 -A lut -s 22050 -M fm -f

That runs my POCSAG1200 instance which spits out nearly 99.99% perfect decod

[2019-01-24 00:40] rob0101 commented on #115
I see good results from various cheap dongles on the SAGRN signal in South Australia.  Our signal is FLEX 1600.

I have a cheap dongle right now inside a steel shed (cheap 6" antenna that came with it dangling outside). The outside temp is 38 celsius (100F).. The shed is in full sunlight and will be baking hot inside.

The Pi v1  cpu is at 54C and it's seeing 100% of the messages.

I've also run a

[2019-01-25 16:47] paulvanderheijden90 opened #122 "P2000 Reciving"
Hallo.
I copy and edit a program for a P2000 pager.
it looks like this:
`import time
import sys
import subprocess
import os
import re
from datetime import datetime
from dateutil import tz
from termcolor import colored

capcode_Steenbergen= "001200768"
capcodeToFind_List= ["001200768","001220499","001420999"]
meldingToFind_List= ["A4","N275"]
Uitruk_Steenbergen =0

def curtime():
    return time.st

[2019-01-28 16:45] bierviltje opened #123 "Feature request: FLEX: put group messages in an array/list"
As far as I know the Motorola Flex protocol works like this for group messages:

The network transmits an announcement to the corresponding receivers capcodes: "the next message in this group cycle/frame is for you", and then the actual message is send.

Multimon-ng shows this as seperate messages, like it's sent with POCSAG.

This can be problematic when using the piped output in a script (Python

[2019-01-28 17:05] bierviltje commented on #122
Could you explain what you exactly want to do? meldingToFind_List isn't used in your code. I think you want to add some additional filtering on the words it contains? For what reason your want to make Uitruk_Steenbergen True or False?

[2019-01-29 06:50] rob0101 commented on #123
I'm trying to follow your example and may have mistaken your issue.

Here in South Australia each volunteer fire station is a member of a 'group' (not a FLEX group) and the officers for each group will be sent a copy of each message.  So if multiple stations in the group are paged to the same job, the 'group officers' will get paged multiple times with the same message.

We have multiple public we

[2019-01-29 11:55] bierviltje commented on #123
In the Netherlands group officers never get duplicate messages when more than one crew is paged.

Example:

0706001 - Regional monitor code (emergency call center can check if a message is delivered)
0705201 - Group commander
0705205 - Engine 1 (entire crew of engine gets this message)
0505210 - Ladder (entire crew of ladder gets this message)
0505300 - Local monitor code

The paging network trans

[2019-01-29 12:45] rob0101 commented on #123
Have a look at demo_flex.c lines 563-581

I'm guessing that's the code you'd need to investigate

[code]

[2019-01-30 21:39] bierviltje commented on #123
I got the job done. I had to edit a larger block of code. For now I'm not worried about Tone Only and Numeric messages, because by Python script only use Alphanumeric messages.

Now the output is:

`[[FLEX], [2019-01-30 21:30:41], [1600/2/K/A], [07.095], [002029568, 001420999, 001420022], [ALN], [B1 AMBU 17122 Maasstadweg 3079DZ Rotterdam ROTTDM bon 13913]]`

In demod_flex.c starting at line 557,

[2019-01-31 11:56] bierviltje commented on #123
Things to do:

- Replace verbprintf for sprintf and put the output in an array. At the end verbprintf the array.
- Replace " for \" in the message string to not get the Python list style output to stdout messed up.

[2019-01-31 19:59] dmitryelj opened #124 "Feature request: Windows pipes support via command line"
Hi all,
Thanks for the cool product.

I've tried to use pipes in Windows command line, but without success (maybe I did something wrong).
So, I added new parameter "cmd" instead of "raw", that allows to run the the app this way:
_multimon-ng.exe -a FLEX -t cmd "rtl_fm -s 22050 -f 169.65M -g 26 -p 0"
multimon-ng.exe -a POCSAG1200 -t cmd "rtl_fm -s 22050 -f 172.45M -g 26 -p 0"_

The code change is e

[2019-01-31 22:35] rob0101 commented on #123
You might want to make the change an option via a command-line flag so the current output is the default and your version can be toggled on only if wanted.

I never encounter group messages, so this section of the code does not affect/interest me.

[2019-02-04 04:05] Arnie97 commented on #124
Good catch. [Windows translates `CR` `LF` in stdin to `LF` by default](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/setmode), thus breaking the integrity of raw binary data.

[2019-02-04 21:10] dmitryelj opened #126 "Windows version not building (2)"
Hi all,

I'll tested the last build of multimon-ng in VS2017, and it does not work.
- all .c files have status "Does not participate in build" - the build just does not start (only win32_soundin.c should be excluded from a build)
- C++ command line: invalid argument '/Wextra'
- _USE_MATH_DEFINES macro is missing
- #include <getopt.h> - file not found obviously, should be added #ifndef WINDOWS in c

[2019-02-10 11:03] bierviltje opened #127 "Bug: FLEX: group message and regular message in same frame"
While the flex decoder is looping the message received in a frame with a group message with the capcodes index made in the previous frame that contained the short instructions, there could also be another non-group alphanumeric message in the same group frame. These messages aren't shown in multimon-ng.

I also politely request to make it in a future update possible to show all capcodes on a singl

[2019-02-11 21:53] bierviltje commented on #123
Reopened to find a better way to print the group message on one line.

I don't think I need the for-loop.

[2019-02-14 16:09] ortizjd opened #128 "multimon-ng output help"
Howdy!

I am working on an SDR project on a Raspberry Pi3 B+ and have recently gotten stuck. I am using rtl_fm and a dongle along with multimon-ng to demodulate EAS messages. When multimon-ng outputs directly to stderr and stdout, everything is working perfectly. However, I would like to take the output from multimong-ng and pipe that EAS message into another application. An example multimon-ng ou

[2019-02-15 14:27] #124 closed

[2019-02-23 05:57] Arnie97 commented on #128
I could not reproduce this bug. Would you please paste the contents of the `run_sdr` script?

[2019-02-23 06:15] Arnie97 commented on #21
As #118 has been merged, this could be closed now.

[2019-02-23 13:22] ortizjd commented on #128
Hi there!

Thanks for looking at it! Sure thing...run_sdr is just a one line bash script and it doesn't matter if this is in a script or directly input to the command line, I get the same issue. Here is the command I am trying to use

rtl_fm -f 162.550M -M fm -s 22050 -E dc -g 48 -p 0 -| multimon-ng -a EAS -v 1 -t raw /dev/stdin

I have also tried

rtl_fm -f 162.550M -M fm -s 22050 -E dc -g 48 -p

[2019-03-01 22:33] posixPilot commented on #128
Jason,

When you redirect the output into a file, the STDOUT file handle becomes buffered by default.  Looking though multimon code, the author normally calls fflush(stdout) to help display the data along in a timely fashion, but there isn't a fflush() call after it prints the "Enabled demodulators" line.  I added the following code on line 839 of unixinput.c to force the fflush() call:

[code]

T

[2019-03-04 14:37] ortizjd commented on #128
Hi Mike,

Nice find! Adding fflush there at least shows me the setup is correct. I also have to wait for the weekly tests on Wednesday....Essentially, when I am running multimon on its own, the encoded message prints to STDOUT and I can then copy and past that into a file and read it with dsame to see the message. However, when piping directly into dsame, I do not see the message printed to STDOUT

[2019-03-04 17:59] posixPilot commented on #128
Hi Jason,

You might be having the same issue with dsame (buffering).  I only know about this issue because I bump into it frequently when I script in Perl.  Perl allows you to select a file handle and disable buffering; I would guess that Python/dsame have a similar attribute.

For my implementation, I'm having Perl monitor the output from multimon-ng.  If I see a line prefixed with "EAS: ", then

[2019-03-06 16:16] ortizjd commented on #128
Hi Mike!

Great news! I do believe the issue was related to STDOUT buffering as I received the test message today and successfully called my API. I am going to continue testing with the ogg sample as you suggested but I feel like this issue is resolved! Thank you for the help and ideas!

Jason

[2019-03-06 16:16] #128 closed

[2019-03-31 21:59] bierviltje commented on #127
Extra information:

This bug occurs when the single message is transmitted AFTER the group message in the same frame.

[2019-04-01 03:08] bertinholland commented on #127
I would like to analyse this situation.. At what date and time has this happend so i can have a look at the p2000 data set.

[2019-04-01 03:53] bierviltje commented on #127
I have no dates/times but from now on I will write them down.

Currently I only monitor a couple of capcodes and sometimes I compare them with online (PDW bases) monitor websites.

What I noticed and I'm unsure if this is the way how the P2000 network transmits messages, or if it is part of the bug:

If the groupcode is 2029568 and there is also a single message in the same frame, the single messa

[2019-04-01 04:58] bertinholland commented on #127
Okay i understand this scenario. So let me know time and date and capcodes so i can do investigation

[2019-04-01 05:20] bertinholland commented on #127
I have a realtime online p2000 dump for 7 days (debug level 3) so when you let me know the date and time. Also please add the groupmessage (capcodes) and also the missing capcode and text so I can do some analyse. When you send this information I can also make a sample radio file for the developer for further in depth analyse and do some tests. Thanks in advance.

[2019-04-01 19:24] bertinholland commented on #127
Okay no problem, let me know when you write down the timestam and capcode and message so I can do an in depth analyse.

[2019-04-02 04:07] bertinholland commented on #127
@bierviltje

* Can you let me know which capture code you are monitoring

* What capcode  are sometimes missing (after group message in same frame). Is that always the same capcode?

* How often does this occur (approximately)

* Can you reply in 12 hours when you missed a capcode?

* I'm using the most recent multimonNG software (1.1.7 including last update till 1 march). Which version do you use

[2019-04-02 04:11] bertinholland commented on #127
@Zanoroy
Zanoroy goodmorning, I started up my test capturing system for raw radio files (in chunks of 180 MB) for this issue (#127) and waiting for additional information from bierviltje. Analyse is in progress.

[2019-04-02 05:04] Zanoroy commented on #127
@bertinholland Morning mate,
Thank you for all the chasing you are doing on this issue. I'm currently developing a Drive Test Kit for Flex networks (Hardware and software) so I have limited time in the short term, but if we can gather enough information to track down the issue I could hopefully offer a fix.  If the issue is going to take several days to investigate and fix it will have it wait a c

[2019-04-02 09:20] bierviltje commented on #127
@bertinholland

The capcodes I capture in my Python script are 000706001 (monitorcode Utrecht) and 000736090 (persberichten Utrecht). The first one always comes in a group message so I have no problems with this one and the latter always comes as a single message and will not be received with multimon-ng a couple of times a week. I'm using the version prior the 1st of March update (I didn't know t

[2019-04-02 09:41] bierviltje commented on #127
I was comparing messages addressed to 000736090 on my system (they get delivered to a Discord channel) and on the website 112meldingen.nl (they have an archive with search function) and it seems I missed a message send at 01:03:03 on 30-03-19.

[2019-04-02 09:41] Zanoroy commented on #127
@bierviltje You could easily change the code to collect the capcodes in a single string if you wanted to. But lets face it Flex even at it fasted board rate is only 6400 bps, so looping through an array, which at its largest is 16 elements, there is NO impact to performance.

I had a very (and I mean VERY) quick look over the other issues raised against Flex decoding for multimon-ng and I'll proba

[2019-04-02 09:44] bierviltje commented on #127
The group messages can be very big in the Netherlands, this one below is a fallback system test that got sent once every month. (copied from an online monitor)

[code]

[2019-04-02 20:05] bertinholland commented on #127
Multimon-ng:
2019-03-30 01:03:03 [000736090] ALN Utrecht Burgemeester Reigerstraat Wilhelminapark Aanrijding letsel fietser gevallen

multimon-ng debug mode 3:
2019-03-30 01:03:01: FLEX: FrameInfoWord: cycleno=00 frameno=106 fix3=0x3c time=03:18
There are two group messages decoded (groupbit 0 and groupbit 1)
AND 1 single message decode (capcode 736090]
2019-03-30 01:03:02: FLEX: Parse Alpha Numer

[2019-04-02 20:18] bertinholland commented on #127
Today (april 2 2019, analyse capcode 736090.

**Multimon-ng:**
[code]

Analyse http://www.112meldingen.nl/index.php / pdw
19 lines
not showing at 112meldingen/pdw 2019-04-02 11:41:52 [000736090] ALN Leusden A28 Re 14,1 Stremming wegverkeer

multimon-ng decodes more lines!

It is not look like a logical multimon-ng problem. Everything is today working fine.

[2019-04-02 20:27] bierviltje commented on #127
Can the speed of my setup be an issue? It's running on a Raspberry Pi 3B+ with Raspian Lite.

I also tried running it simultaneously with 2 identical setups. One with a (badly) modified flex decoder and one without. If my hardware is powerful enough then I assume it's a signal (strength) issue.

I'm glad it's sorted out now and would thank you guys for your time and effort!

@Zanoroy is there any

[2019-04-02 20:28] bertinholland commented on #127
@bierviltje

* What is your type of hardware / dongle?

* Is your rtl_sdr dongle kalibrated?

* Is your receiving signal quality good/excellent

* What kind of antenna?

* What is do distance to the p2000 transmitter?

* when u are running multimon in debug mode, per 24 hour how many corruption, lost synchronisations and timeouts did you find?

[2019-04-02 20:31] bertinholland commented on #127
On april 3 I will do an extra crosscheck (mutimon versus pdw) for capcode 000736090.

Raw radio capturing is still activated on my system, so when a lost message / decode problem occure I can reproduce it with a raw radio file.

Please keep me informed about your investagation and send me a reply about your analyse tomorrow. So do I ;-)

Bye bye

[2019-04-02 20:35] bierviltje commented on #127
I have official rtl-sdr.com v3 dongles, not calibrated, hear some fluttering with aplay because 3 closest masts are all about 5 km away from me, tested with Diamond RH771, MH77S and X30N antennas situated indoors on the loft. I did see some errors but very rarely.

[2019-04-02 20:40] bertinholland commented on #127
My configuration is also a raspberry Pi 3B+.
The load for multimon-ng is very low 1 or 2%
The load for rtl_sdr is a little bit higher 12% but that's not very high.
The total system load is max 18 / 19 %.
That very good.

Im using a RTL2832U DVB-T Tuner Dongle and it's kalibrated. Accurate tuning and almost zero temperature drift (2 PPM max. initial offset, 0.5-1 PPM temperature drift).

Probably y

[2019-04-02 20:45] bertinholland commented on #127
I advice you to run multimon-ng in debug mode (-v 3) and when you have a lost message you can reply your entire frame output so we can analyse it (my archive is 7 till 14 days p2000 log level 3).

Also you can correct if necessary your ppm_error.
Or you can try to upper or lower your gain.

[2019-04-03 17:32] bertinholland commented on #127
`pi@p2000:~/output$ cattekst "2019-04-03.*000736090"  | wc -l
20
pi@p2000:~/output$ cattekst "2019-04-03.*000736090"
2019-04-03 07:28:11 [000736090] ALN Amersfoort Het Masker Stille Steeg Oost Aanrijding letsel
2019-04-03 08:04:32 [000736090] ALN Er is een lichaam gevonden op de Amstelkade in Wilnis. Politie doet onderzoek.De Amstelkade is afgezet.
2019-04-03 08:54:49 [000736090] ALN Utrecht Vleut

[2019-04-03 17:34] bertinholland commented on #127
I am stopping capturing the raw audio files because it seems there is no multimon-ng bug.

[2019-04-03 17:41] bertinholland commented on #127
@bierviltje
Can you publish your debug level 3 output when you missed a capcode. I was wondering what has happened.

I think it is not a bug. My rapberry system (3b+) runs:
- the latest raspberry OS (4.14.98-v7+ #1200)
- the latest rtl_sdr 0.6.0 with commits till 7 october 2018
- the latest multimon-ng 1.1.7 included commits till 1 march)
- RTL2832U DVB-T Tuner Dongle and it's kalibrated. Accurate

[2019-04-03 19:13] bierviltje commented on #127
Could you help me how I can write the output to a log file?

[2019-04-03 19:25] bertinholland commented on #127
Just add

[2019-04-03 19:26] bertinholland commented on #127
I mean the sign larger than 2 times

[2019-04-03 20:10] bertinholland commented on #127
I have analysed 31331 capcodes for april 1,2,3 and there is no missing capcode for multimon-ng in my configuration (compared with pdw)

[code]

I think you can close this bug issue?

[2019-04-03 20:15] bierviltje commented on #127
Thank for your testing and effort again. I think it's a isolated problem with my setup. I will close it now.

[2019-04-04 21:46] bertinholland commented on #123
@Zanoroy this is a nice request. Can you implement this in the base code multimon-ng?

[2019-04-15 10:55] Frone87 opened #131 "FMS - Data path from control centre to car"
Dear all,

I think I found an older Bug.
In a german forum there was already reported 4 years ago about that.

This Bug is only valid by FMS-Status 4,5,6 and 7.

Example:
When the car press the number 4, 5,6 or 7, multomon means it was a status from the "control centre/Leistelle" to the car ( 1=LST->FZG ).

but it would be right: the status from the car (0=FZG->LST).

Maybe anyone knows this bug?

[2019-04-25 06:40] dejury commented on #123
Would be very nice to have this in the base code.

[2019-04-26 17:31] ra1nb0w commented on #83
Any updates? can be very useful on macOS. thanks

[2019-04-27 12:57] ra1nb0w opened #132 "multimon-ng on MacPorts"
FYI: multimon-ng is now on MacPorts (package manager for macOS).
Thank you !

[2019-05-05 01:56] czenzel commented on #83
Hello - I haven't had much time to work on this. A lot has changed here - I moved to Florida and lost some time creating my first home and loosing a lot of jobs (only have PT work that isn't enough to keep the health insurance paid). I would love to have finished this but didn't have time. Maybe if I get another job (or if anyone knows of one) I can get back to this soon.

[2019-07-08 12:54] jdenoy opened #134 "pocsag message truncated at 80 caracters"
Hello,

looks like I'm getting pocsag decodings truncated at 80 caracters each time I decode messages.
As of now I'm decoding emergency services pocsag at 512 baud, and the pagers they use go up to 256 caracters in the message. Is there a specific limitation in the code that would limit this?

I'm planning to try to decode manually or with gnu-radio some alertes soon, but wanted your input on this

[2019-07-08 14:46] jdenoy commented on #114
open issue #134 for similar problem. Messages above 80 caracters are truncated

[2019-07-08 17:49] EliasOenal commented on #132
Thanks a lot! As a MacPorts user I really appreciate this.

[2019-07-08 17:49] #132 closed

[2019-07-08 18:15] EliasOenal commented on #134
Could you please provide a sample, or at least the output of multimon-ng running with "-v4"?

[2019-07-09 06:16] jdenoy commented on #134
Hello, here is the output :
[code]
for the output (anonymized) :
[code]

[2019-07-09 07:00] jdenoy commented on #134
Hello, here is the output :
[code]
for the output (anonymized) :
[code]

[2019-07-11 16:24] EliasOenal commented on #134
Sorry, I forgot to mention that in order to enable -v4 you actually have to rebuild multimon-ng, this was done for performance reasons. If you build it using CMake you have to edit "-DMAX_VERBOSE_LEVEL=3" (just change it to a 4) in the file CMakeLists.txt, for qmake you'll find it in multimon-ng.pro. It should in turn print additional information, like whether it is synchronised with the ongoing t

[2019-07-11 18:06] jdenoy commented on #134
Hello, got the message for the -v4. Wondered why I didn't get any output from the message ;)
Here's a capture from a couple of minutes ago :
[code]
I anonymized the message in public, but you'll be able to decode from the trace.

[2019-07-11 23:43] EliasOenal commented on #134
To me it looks like the sender is truncating that message. You're receiving 28 messages, each containing 20 bits of payload. Decoding those 560 bits as 7 bit characters we get 80. To have a closer look I would need an actual recording, but from what I can see multimon-ng doesn't seem to be causing this.

[2019-08-01 20:58] klint-k opened #135 "-A APRS mode *enhancement*"
Hello

I have also been using dump1090-mutability with my rtl-sdr.
I was wondering if there could be a "--write-json <dir>" like enhancement to multimon-ng?

[2019-08-07 11:22] jdenoy commented on #134
Hello,
I'll look into a recording asap.
IQ recording fine for you? Or do you prefer a wav file capture?

[2019-08-14 11:37] EliasOenal commented on #134
I think wav or raw is easier for anyone looking into it.

[2019-09-19 13:21] stoepf commented on #131
Hi Frone87,
have a look at my changes:
https://github.com/stoepf/multimon-ng/blob/patch-1/fms.c
That should fix your problem.

[2019-09-19 14:08] Schrolli91 commented on #131
Please put a PR also on this Repo

[2019-09-19 14:14] stoepf commented on #131
(y)

[2019-09-24 14:21] jdenoy commented on #134
Hello Elias,

I've managed to confirm that the TX is limiting the transmitted information to 80 caracters.
Thanks for the support and your time. Sorry for the false alert.

[2019-09-24 14:21] #134 closed

[2019-10-05 00:04] andrewdefilippis opened #139 "The first characters are missing from FLEX messages"
https://github.com/EliasOenal/multimon-ng/blob/1168661931a43d986a89efab5b8ae390f0e2f486/demod_flex.c#L527
When removing `mw1++`, the resulting message begins with `ALN From:` instead of `ALN om:`.

The issue with this is that a variable number of extra characters appear to be inserted at the beginning of the message:
* `ALN fFrom:`
* `ALN <From:`
* `ALN vFrom:`

The parsing of where a message begi

[2019-10-19 07:04] rob0101 commented on #139
Are all your messages starting with missing letters ?

All my messages are coming through correct.

[2019-11-19 18:19] rlerner commented on #139
I'm also seeing that FLEX messages are dropping roughly the first three characters of any alphanumeric "ALN" message. I haven't modified the source to confirm yet.

[2019-11-22 01:16] panserbjorne opened #140 "Missing last character when page length is a multiple of 40"
Hey,

Not sure if I'm doing something wrong. I'm decoding POCSAG512, and I've noticed that if the length of a page is a multiple of 40, it drops the last character. I can see the full message in another decoding program, PDW.

I've attached a wav file recorded in audacity via SDR#.
[example.zip](https://github.com/EliasOenal/multimon-ng/files/3877479/example.zip)

The original message that was sen

[2019-11-27 12:11] christianschneider89 commented on #114
In order that #134 was an false alert, this is still open.

[2019-11-30 09:54] majkrzak opened #141 "Add documentation for demodulators"
It will be good to add more documentation about all the modulators, at least some references. Some of names can not be identified by google (ie UFSK1200, FMSFSK), some are a bit meaningless.

[2019-12-21 19:11] t1m0 opened #143 "Subric not shown"
Hi,
I had a look at multimon-ng and noticed that the subric isn't displayed as part of the address.
Is my observation correct?

Thanks
Timo

[2020-01-21 09:37] tomswinkels commented on #123
Any update about this issue?

[2020-01-21 10:54] Zanoroy commented on #123
Wow.  I haven't looked at this code in almost a year.

I'll have a look tomorrow or Thursday

On Tue, 21 Jan. 2020, 20:07 Tom Swinkels, <notifications@github.com> wrote:

[2020-01-27 07:10] tomswinkels commented on #123
@Zanoroy did you have check this?

[2020-01-27 20:48] Zanoroy commented on #123
Yeah, I can put this into the main stream of MY version and ask that it be Pulled into EliasOenal's 'Mater' version. I just need to find my older VM.

If I haven't action'd this within a week, please ping me (I'm flat out with my day job and it takes priority sorry).

Cheers

[2020-01-27 21:25] Zanoroy commented on #123
Ok, I have put (copy and pasted with only a little checking) the change into the version available at https://github.com/Zanoroy/multimon-ng

I have NO way of testing this implementation, South Australia does not make use of Flex Groups (although it should. We send so much wasteful 'repeated' messages across the network its not funny).

Once someone has confirmed its working correctly and I don't

[2020-01-27 21:46] tomswinkels commented on #123
@Zanoroy Very very nice. When i have time i will test it and send you the results! :) I hope this week!

[2020-01-28 07:59] tomswinkels commented on #123
@Zanoroy i think this works great! :)

<img width="656" alt="image" src="https://user-images.githubusercontent.com/9036151/73245436-7e750500-41ac-11ea-9f4a-2fe96e949611.png">

[2020-01-28 08:05] Zanoroy commented on #123
Ok, well I'll give it a week too see if there is any other feedback.

On Tue, 28 Jan. 2020, 18:29 Tom Swinkels, <notifications@github.com> wrote:

[2020-01-28 09:44] dejury commented on #123
I'm using this change over 10 months right now, and it works like charm... So I would give it a go!

[2020-01-28 13:36] bierviltje commented on #123
I won't advice to implement my code change because sometimes it will miss single capcode (not group) messages for this reason:

If the network transmits a group message with capcode 2029569 or higher and there's a single capcode message AFTER the group message in the same transmission, this message won't be decoded.

[2020-01-28 15:10] dejury commented on #123
Explains a lot why some "Politie persmeldingen" are missed sometimes, thought it had something to do with the reception.

[2020-01-28 19:58] Zanoroy commented on #123
If you could record some raw audio that contains the issue, that I can test
with. I will fix the problem.

On Wed, Jan 29, 2020 at 1:40 AM Jonathan Hafkamp <notifications@github.com>
wrote:

[2020-01-29 06:52] bertinholland commented on #123
@Zanoroy
@bierviltje
@dejury

I have implement Version 0.9.3v (28 Jan 2020) on my testlab system and will capture raw files and analyse it and report it. After a day I have enough informationd and time to report.

[2020-01-29 12:11] bertinholland commented on #123
@Zanoroy @bierviltje @dejury
Im running flex 0.9.3.v 28 jan 2020 in highest debug level.
Also capturing raw files (chunks 30 min raw).
I think everything is working fine (groupcode and individual cap messages).

If there is an issue can you report the date / time and copcode and message of the missing message so i can do an analyse and save the raw / debug files? Please give some detailed informat

[2020-01-29 13:32] tomswinkels commented on #123
@bertinholland @Zanoroy

Something is wrong;

<img width="807" alt="image" src="https://user-images.githubusercontent.com/9036151/73360653-b4e17b80-42a3-11ea-9521-fa7ccc90d0e1.png">

You see the message 'Kluunpad Zeewolde Ongeval/Wegvervoer/Letsel' 3 times, but there is only one right, the one with capcode 000730316.

Bron: https://112pers.nl/melding/33514657/kluunpad-zeewolde-ongevalwegvervoerlet

[2020-01-29 16:45] bierviltje commented on #123
This waa actually a group message:

![20200129_174045](https://user-images.githubusercontent.com/40780873/73377010-a81e5100-42be-11ea-9855-efe393d5b5a3.jpg)

Keep in mind when you use one of the many P2000 monitor websites, they use PDW in nearly all cases. They also do miss messages sometimes. The screenshot I made is from the p2kflex website and hence they use 2 receivers to minimize decode erro

[2020-01-29 17:33] tomswinkels commented on #123
@bierviltje thnx, but in my screen you see 2 times 000730000?

[2020-01-29 21:22] bertinholland commented on #123
p2000 mobile reports:
14:25:52
Kluunpad Zeewolde Ongeval/Wegvervoer/Letsel
[0730000] Politie Flevoland ( Monitorcode )
[0730316] Politie Flevoland
[0730000] Politie Flevoland ( Monitorcode )

multimon-ng reports
2020-01-29 14:25:52: FLEX: BlockInfoWord: (Phase A) BIW:00000C03 AW:01-03 (2 pages)
2020-01-29 14:25:52: FLEX: CAPCODE:00000000000b24cc
2020-01-29 14:25:52: FLEX: Parse Alpha Numeric
2020-

[2020-01-29 21:24] bertinholland commented on #123
can you report an other example with a probably issue so i can check it and analyse it

[2020-01-31 09:11] bertinholland commented on #123
@Zanoroy @bierviltje @dejury
Im running version flex 0.9.3.v 28 jan 2020 in highest debug level on my testlab system for 2 days now.

I have done  a lot of checks.

The samples results checks (a few 1000) for group and individual flex messages were 100% good.

No differences when I checked (cross count check)
 * flex 0.9.3.v 28 jan 2020 in highest debug level
 * Version 0.9.1v (10 Jan 2019)
* http

[2020-01-31 09:42] Zanoroy commented on #123
Thanks for the update.

On Fri, 31 Jan. 2020, 19:41 bertinholland, <notifications@github.com> wrote:

[2020-02-01 22:57] jpduhen commented on #123
Many thanks @bierviltje @bertinholland @rob0101:
I got my raspberry pi working as a P2000 decoder.

Since I'm not a python-programmer, could any of you help me with "printing" these message-parts into a MQTT message, so I can use them in my home automation (to trigger my lights when I get a alarmcall ;-) )

Any help much appreciated!

[2020-02-06 09:03] tomswinkels commented on #123
I dont no it this is an issue since the changes, but there are somethimes encoding problems;

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/9036151/73921556-dce66580-48c7-11ea-80e2-c765eeb5bb0a.png">

[2020-02-06 21:32] bertinholland commented on #123
@tomswinkels
This is not an issue since the last change. My testlab (after change implementation) result is:
2020-02-06 09:42:46 000920110|ALN|A1 Altweertstraat 6845ES Arnhem 16583
2020-02-06 09:43:32 002029568 000126999 000123134 000120194|ALN|A2 (dia: ja) 11134 Rit 16298 Juno Purmerend

Probably an bad signal? Local reception error? PPM not calibrated etc. This is not an multimon-ng issue, proba

[2020-02-07 20:08] tomswinkels opened #145 "Error after qmake ../multimon-ng.pro"
Something wrong?

![image](https://user-images.githubusercontent.com/9036151/74062155-e79b1a80-49ed-11ea-8bb4-605bbd64c3f6.png)

[2020-02-08 00:51] bertinholland commented on #123
@Zanoroy
Thanks for implementation of issue 123. There are no errors after 8 days of testing and checked the feedback. Can you please do a pull request in the base elias relase? Thanks in advance!

[2020-02-08 09:03] Zanoroy commented on #123
Pull request created. Now its up to @EliasOenal
Thanks for code, help and especially all the testing

[2020-02-11 08:18] snailcatcher commented on #145
I got the same issue.

[2020-02-16 19:49] bertinholland commented on #123
I have installed the EliasOenal version (merged version, feature #146) on my production system. A quick analyse look great no issues.  I monitor this version a few days . If there are issues I will report it in this issue. When I dont report any problems 20 feb 2020 I think this issue can be closed. Thinks for your implementation!

[2020-02-16 19:57] Zanoroy commented on #123
Cheers mate

On Mon, 17 Feb. 2020, 06:19 bertinholland, <notifications@github.com> wrote:

[2020-02-17 02:04] bierviltje commented on #123
I'm not sure if the submit still can be editted, but this is what I found running on my Raspberry Pi for over a year now. It's a little bit different from what I posted here a year ago. I'm sorry I didn't post an update of the changes I made myself:

[code]

[2020-02-18 10:06] EliasOenal commented on #145
Those are just warnings and should still allow the build to complete. Did it result in a binary?

[2020-02-18 10:30] EliasOenal commented on #141
FMSFSK is also known as FMS BOS: http://www.wavecom.ch/content/ext/DecoderOnlineHelp/default.htm#!worddocuments/fmsbos.htm
UFSK1200 is just FSK modulated UART. I know this is used for some pyrotechnical launch systems to avoid having DC bias. (Which could cause sparks.)

I would also appreciate additional documentation. And if you intend on writing one, feel free to ask me about anything you would

[2020-02-18 18:01] snailcatcher commented on #145
I think so. I build multimon-ng inside a docker container (using raspbian buster) and after building i can run my container as expected.
But i'm not sure if multimon-ng ist working correctly and if the data it provides is correct.

[2020-02-21 07:26] bertinholland commented on #123
@bierviltje what is the change in the code you posted a few days ago? Version 0.9.3 is functional allright I guess. Can you please give some extra release note / change information.

[2020-02-22 15:37] bierviltje commented on #123
@bertinholland the only thing I did was comparing the code that is running on my Raspberry Pi with the code I posted 1 year ago.

I don't have release notes or change information. I'm a rookie coder and this was the first time I dived into C with only help from Google and a lot of trial and error to make it work. I already forgot most things I did and how they work.

I occasionally still miss some

[2020-02-22 19:00] bertinholland commented on #123
@bierviltje
CAn you please  give me some examples of missed messages. Please give me the timestamp and capcode  and message so I  can do some analyse. Thanks!

[2020-02-22 19:14] bierviltje commented on #123
@bertinholland
13:51:44 22-02-20
0736090
Vianen UT Het Slyk Aanrijding letsel

[2020-02-23 00:52] tomswinkels commented on #123
@bertinholland

I also missed sometimes messages with Multimon.

I have total 3 receivers, 2x Multimon and 1x PDW.

Check this public link, this are latest x messages that i have received with PDW but not with Multimon.

https://staging.api.112pers.nl/v2/missed_messages

[2020-03-04 09:30] Kryptoxic opened #149 "Unable to compile latest version for Windows"
I tried to compile with both MingW64 and VS2019. VS2019 just gives me a "Sucessfully built target multimon-ng.exe" message but the .exe is nowhere to be found. Same with MingW64, it shows that it sucessfully compiled but the .exe is nowhere to be found at all. Any solutions as to how to compile for Windows?

[2020-03-26 20:23] ZeroChaos- commented on #26
This appears to be in use in my area.  I enabled all the possible decoders and it's pulling a LOT of fms...

Short example included, note, I'm in the USA if it matters.

[code]

[2020-03-30 20:37] albedo039 commented on #98
hello there...sun but cold in paris !!

about "xdisplay.c" i got the right files without `` while (XNextEvent(display, &evt) == 0) `` sequence (line 115-119 )on two different bionic beaver machines..(ubuntu)
one's got the 1.1.5 multimon-ng , the other 1.1.8...
scope is ok on the 1.1.5 one, not on the other !! (invalid mode "scope")   :( ...
any suggestion master ??
best...
bruno from paris...

[2020-03-30 20:53] albedo039 opened #150 "scope on 2 ubuntu's machine"
hello there...sun but cold in paris !!
(i'm sorry ...i ' posted this on a closed issue...!!)..

about "xdisplay.c" i got the right files without while (XNextEvent(display, &evt) == 0) sequence (line 115-119 )on two different bionic beaver machines..(ubuntu)
one's got the 1.1.5 multimon-ng , the other 1.1.8...

scope is ok on the 1.1.5 one, not on the other !! (invalid mode "scope") :( ...
any sugg

[2020-04-01 10:16] joper112 commented on #123
Im not sure if im happy with this Feature

im doing this:
            if line.startswith('FLEX'):
                flex =line[0:4]
                date = line[6:17]
                tiime = line[17:25]
                capcode = line[45:52]
                message= line[57:]

After that i copy it in to mysql database

This is now not usefull anymore because i dont know how many capcodes are in there.

[2020-04-02 19:40] christianschneider89 opened #151 "-a SCOPE doesn't work"
Hello

When I use "-a SCOPE" I get:

invalid mode "SCOPE"
multimon-ng 1.1.8

Chris

[2020-04-03 21:43] bertinholland commented on #123
@joper112
Thats right that your code with fixed positions is  not usefull anymore. An implementation with fixed positions is a bad idea I think. You better can use regular expression  and use the "|" sign as seperator.

[2020-04-03 21:50] bierviltje commented on #123
@joper112
Assuming you're using Python I made an example how to use list.split previously in this thread:

https://github.com/EliasOenal/multimon-ng/issues/123#issuecomment-460845949

[2020-04-03 22:04] bertinholland commented on #123
https://staging.api.112pers.nl/v2/missed_messages

Sended:    1585950368000
Message:  A1 AMBU 17121 Motorstraat 3083AP Rotterdam ROTTDM bon 42588
Capcodes: 2029568, 1420999, 1420021
Receivers: Someren PDW

Sended:    1585950319000
Message:  A2 Zevenbergschen Hoek rit: 28015 (Directe inzet: ja) eh: 20107
Capcodes: 2029568, 1220607, 1220499
Receivers: Someren PDW

Sended:    1585950304000
Message:

[2020-04-03 22:10] bertinholland commented on #123
@Zanoroy
Thank for implementation and to implement it in the base release. Well done!

Also I checked the reported the latest reported issue and this is not and implementation error only a local site configuration error.

This implementation is running succesfull for 2 months now so I think you can close this issue. Thanks for your cooperation!

[2020-04-04 15:35] dh47 opened #152 "CCIR Decoding"
Could someone please tell me what the layout of the following means?  I have been trying to decode CCIR to try and figure out the format.  All I have managed to do is found out the format is XXXXX--XX.  But the decision to me doesn't make sense.

[code]

What does this mean?  Each new line is a separate decode.

My local ambo uses selcalling
`rtl_fm -A lut -s 22050 -f 141.400M - | multimon-ng -t r